<%# TODO Remove this override when updating to BL8, issue is resolved there %>

<div class="alert alert-dismissible <%= @classes %>">
  <%= message %>
  <a class="btn-close close" data-dismiss="alert" data-bs-dismiss="alert" href="#"></a>
</div>
