<div id="sortAndPerPage" class="d-md-flex justify-content-between align-items-start border-bottom border-light-grey mb-4">
	<div class="search-widgets row justify-content-between p-4">
		<%= link_to("Back", :back, class: "btn btn-sm bookmarks-back-btn border-light-grey", id: "back_to_search") %>
	</div>
	<div id="bookmarks-tools" class="bookmarks-tools nav-tools row p-3">
  	<%= render :partial => "show_tools" %>
	</div>
</div>
