<div id="sortAndPerPage" class="d-md-flex align-items-start flex-wrap">
	<div class="search-widgets">
		<%= link_to("Back", :back, class: "btn bookmarks-back-btn", id: "back_to_search") %>
	</div>
	<div id="bookmarks-tools" class="d-flex flex-wrap bookmarks-tools nav-tools">
  	<%= render :partial => "show_tools" %>
	</div>
</div>
