<div id="sortAndPerPage" class="clearfix row text-right bookmarks-sort-and-per-page">
	<div class="pull-left">
		<%= link_to("Back", :back, class: 'btn btn-sm bookmarks-back-btn', id: 'back_to_search') %>
	</div>
	<div class="bookmarks-tools pull-right">
  	<%= render :partial => 'show_tools' %>
	</div>
</div>
