<div id="sortAndPerPage" class="clearfix row text-right bookmarks-sort-and-per-page">
	<div class="col col-8 offset-4 col-sm-5 offset-sm-7 col-md-4 offset-md-8 bookmarks-tools pull-right">
  	<%= render :partial => 'show_tools' %>
	</div>
</div>
