<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>

<% if show_doc_actions? %>
  <% url_opts = params.to_unsafe_h %>
  <div class="bookmarks-tools-layout">
    <div class="bookmarks-tools-group bookmarks-tools-group--primary">
      <%= link_to "CSV",
                  csv_path,
                  id: "csvLink",
                  class: "btn bookmarks-tools-btn",
                  target: "_blank",
                  rel: "noopener" %>
      <div id="bookmarks-sendto" class="dropdown">
        <button class="btn dropdown-toggle bookmarks-tools-btn" data-bs-toggle="dropdown">
          <%= t("blacklight.tools.sendto", current_range: current_entries_info(@response).html_safe) %>
          <span class="caret"></span>
        </button>
        <%= render Bookmarks::SendToDropdownComponent.new(documents: @response.documents, url_opts: url_opts) %>
      </div>
    </div>
    <div class="bookmarks-tools-group bookmarks-tools-group--secondary">
      <%= render_results_collection_tools %>
    </div>
  </div>
<% end %>
