include:
  - project: "infrastructure-engineering-shared/gitlab-ci-templates"
    file:
      - "lint_docker.yaml"
      - "build_and_scan_docker.yaml"
      - "kubectl_commands.yaml"
      - "sast_scanning.yaml"

variables:
  IMAGE: "tulibraries/librarysearch"
  HARBOR: "harbor.k8s.temple.edu"
  HELM_EXPERIMENTAL_OCI: "1"
  SAST_EXCLUDED_PATHS: "spec, test, tests, tmp, app/controllers/application_controller.rb, app/controllers/concerns/quik_pay.rb, app/models/blacklight/primo_central/repository.rb, config/environments/development.rb, config/environments/test.rb" # [TODO] Remove app/controllers/application_controller.rb from path after BL-1806 completed
  SAST_EXCLUDED_ANALYZERS: "semgrep"


.export_variables: &export_variables
  - source .env
  - export VERSION="${DOCKER_IMAGE_VERSION}-${CI_COMMIT_SHORT_SHA}"

before_script:
  - *export_variables

stages:
  - lint
  - build
  - scan
  - tag
  - deploy

lint:
  extends: .lint_docker
  variables:
    DF: ".docker/app/Dockerfile.prod"
  except:
    - tags

build:
  stage: build
  extends: .build_and_scan_image
  variables:
    DF: ".docker/app/Dockerfile.prod --build-arg RAILS_MASTER_KEY=$MASTER_KEY --no-cache"
  except:
    - tags
    
tag:
  stage: tag
  extends: .tag_image
  except:
    - tags

qa_deploy:
  variables:
    IMAGE: $HARBOR/tulibraries/librarysearch
    RANCHER: np-rancher
    CLUSTER: $DEV_CLUSTER
  stage: deploy
  extends: .helm_setup
  only:
    - main
  script:
    - *export_variables
    - helm pull oci://$HARBOR/tulibraries/charts/librarysearch --untar
    - helm upgrade librarysearch oci://$HARBOR/tulibraries/charts/librarysearch --history-max=5 --namespace=librarysearch-qa --values librarysearch/values.yaml --set image.repository=$IMAGE:$VERSION

tag_prod:
  stage: tag
  extends: .tag_image
  variables:
    TAG: prod
  only:
    - tags

tag_release:
  stage: tag
  extends: .tag_image
  variables:
    TAG: $CI_COMMIT_TAG
  only:
    - tags

tag_prod_chart:
  stage: tag
  extends: .tag_image
  # Helm charts live in Harbor as OCI artifacts; add/update a "prod" tag so we
  # can easily find the chart version that is currently deployed in production.
  variables:
    HARBOR_PROJECT: "tulibraries"
    HARBOR_CHART_REPOSITORY: "charts%2Flibrarysearch"
  only:
    - tags
  script:
    - |
      API_BASE="https://${HARBOR}/api/v2.0/projects/${HARBOR_PROJECT}/repositories/${HARBOR_CHART_REPOSITORY}"
      curl --silent --show-error -u "${HARBOR_USERNAME}:${HARBOR_TOKEN}" \
        -X DELETE "${API_BASE}/artifacts/prod/tags/prod" || echo "prod tag not present yet"
    - |
      curl --silent --show-error --fail \
        -u "${HARBOR_USERNAME}:${HARBOR_TOKEN}" \
        -H "Content-Type: application/json" \
        -d "{\"name\":\"prod\"}" \
        -X POST "${API_BASE}/artifacts/${HELM_VERSION_PROD}/tags"

prod_deploy:
  variables:
    IMAGE: harbor.k8s.temple.edu/tulibraries/librarysearch
    RANCHER: rancher
    CLUSTER: $PROD_CLUSTER
  stage: deploy
  extends: .helm_setup
  only:
    - tags
  script:
    - helm pull oci://$HARBOR/tulibraries/charts/librarysearch --version $HELM_VERSION_PROD --untar
    - helm upgrade librarysearch oci://$HARBOR/tulibraries/charts/librarysearch --version $HELM_VERSION_PROD --history-max=5 --namespace=librarysearch-prod --values librarysearch/values-prod.yaml --set image.repository=$IMAGE:$CI_COMMIT_TAG
