[submodule "solr/configs/tul_cob-catalog-solr"]
	path = solr/configs/tul_cob-catalog-solr
	url = git://github.com/tulibraries/tul_cob-catalog-solr.git
[submodule "solr/configs/tul_cob-az-solr"]
	path = solr/configs/tul_cob-az-solr
	url = git://github.com/tulibraries/tul_cob-az-solr.git
[submodule "solr/configs/tul_cob-web-solr"]
	path = solr/configs/tul_cob-web-solr
	url = git://github.com/tulibraries/tul_cob-web-solr.git
