language: ruby
sudo: false
rvm:
- 2.3.1
env:
- TZ=America/New_York
jdk:
- oraclejdk8
before_script:
- cp config/secrets.yml.example config/secrets.yml
- cp config/alma.yml.example config/alma.yml
- RAILS_ENV=test bundle exec rake db:migrate
- RAILS_ENV=test bundle exec rake db:seed
notifications:
  email:
    recipients:
    - chad.nelson@temple.edu
    - steven.ng@temple.edu
    on_success: change
    on_failure: always
    template:
    - "%{repository}//%{branch}@%{commit} by %{author}: %{message} - %{build_url}"
  slack:
    secure: XZTjbEDUUSuvfY98wR1YCp9cZnjjC0Yz9FN/qenwW9qXLxbf+X8Qakghkkp0Dza1FQbshbhhaeUM08h7qPZq3ssXGcXLkTPJ2I4TuglWsxklV7AESNRia13Fx9rcwgh9xgSOGkmad2gBNKM10w8NEleR8VNp6xRvetXPk7AywcrSyUcgtf7YbLle3qhA5vXUJGkhYw8tPVu6Bj2poKkHN8m2rb1zigeP7GXwEhC8isYzkyOdguWbyiztlQ64vXtjxxBfJkmgk1awxcpYwY7WGQx3HeGVBa6HQ5I7860Pc5GOAilmWr1vGx7Vt+6A3CAipqJs8lU3bhTOD3ljT5lz7h394Ht5QS8WueXqOoncfNIoJZXJHxoNtoeoL1ONy5JGSbM9lpjI9F36Ed39vbwaopMx2vcHZ3SCILhKuyylH/Ai6nrjei6WhCzgoSBRoybpU4n80SW3fX3K197QgOK1zV+nDpZsVdYsPZAbV+p+1nS40Qrw0x5+4cKhqdA9aOtQUAUxUVIqEvr2XGBzOUqzP+j5SLzBm0eifjD08Ep8nOccog5NecyXVvIOThrXI4Y0eZiVM1EgEM98XLXFfouZDO3H9JM5SrejWwNC9RnQ45c4dyYELa9cpv/JoGEFwOaZi21zXVKg+x00sxGBOcwKS93l+mSE5BLKBJSIPcJc4Aw=
