version: "3.2"

services:
  app:
    build:
      context: .
      dockerfile: .docker/app/Dockerfile
    command: "bundle exec rails s -p 3000 -b '0.0.0.0'"
    container_name: "$CONTAINER_NAME"
    volumes:
      - .:/tul_cob
    tty: true
    stdin_open: true
    ports:
      - "3000"
    environment:
      SOLR_URL: "http://solr:8983/solr/blacklight"
      LC_ALL: "C.UTF-8"
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${CONTAINER_NAME}.${DOMAIN}"
      - "traefik.docker.network=tul_cob_default"
      - "traefik.backend=microbot"
      - "traefik.docker.network=reverseproxy_default"
    networks:
      - "reverseproxy_default"
      - "default"

  sp:
    build:
      context: .
      dockerfile: .docker/sp/Dockerfile
    image: "tulcob_app:latest"
    tty: true
    depends_on:
      - "app"
    ports:
      - "80"
      - "443"
    volumes:
      - .:/var/www/html/tul_cob
      - .docker/sp/etc-apache2-sites-enabled:/etc/apache2/sites-enabled
      - .docker/sp/etc-apache2-ssl:/etc/apache2/ssl
      - .docker/sp/etc-shibboleth:/etc/shibboleth
    environment:
      SOLR_URL: "http://solr:8983/solr/blacklight"
      LC_ALL: "C.UTF-8"

  solr:
    image: solr:6.6.1
    ports:
      - "8983"
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - blacklight
      - /opt/solr/conf
    volumes:
      - $PWD/solr/conf:/opt/solr/conf

  cli:
    build:
      context: .
      dockerfile: .docker/cli/Dockerfile
    image: "tulcob_app:latest"
    tty: true
    depends_on:
      - "app"
    volumes:
      - .:/tul_cob
    ports:
      - "3000"
    environment:
      SOLR_URL: "http://solr:8983/solr/blacklight"
      LC_ALL: "C.UTF-8"
      TERM: "xterm"

networks:
  reverseproxy_default:
    external:
      name: reverseproxy_default
