version: "3.4"

services:
  app:
    build:
      context: .
      dockerfile: .docker/app/Dockerfile
      target: production
    container_name: "$ROPER_REPO_BRANCH"
    ports:
      - "3000"
    environment:
      SOLR_SEARCH_TWEAK_ENABLE: "on"
      SOLR_URL: "http://solr:8983/solr/blacklight"
      LC_ALL: "C.UTF-8"
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${ROPER_REPO_BRANCH}.${DOMAIN}"
      - "traefik.backend=microbot"
      - "traefik.docker.network=reverseproxy_default"
    networks:
      - "default"
      - "reverseproxy_default"
    depends_on:
      - solr
    entrypoint:
      - ruby
      - /app/bin/app-start.rb

  solr:
    build:
      context: .
      dockerfile: .docker/solr/Dockerfile
    image: solr:6.6.1
    ports:
      - "8983"
    networks:
      - "default"
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - blacklight
      - /opt/solr/conf
      - "-Xms256m"
      - "-Xmx512m"

networks:
  reverseproxy_default:
    external:
      name: reverseproxy_default
