<% unless controller_name == "databases_advanced" %>
  <div class='card'>
    <div class="card-title bg-tan p-2">Search tips</div>
    <div class="card-body p-2">
      <ul class="advanced-help">
       <li>Use quotation marks to search as an exact phrase.</li>

       <li>Use "OR", "AND", and "NOT" to create boolean logic within a field. You can use parentheses in your complex expressions. </li>

       <li>Truncation and wildcards are not supported - word-stemming is done automatically.</li>
     </ul>
    </div>
  </div>
<% end %>
