<div class="form-group advanced-search-facet row align-items-center">
  <div class="col col-sm-3 control-label">
    <%= label_tag "range_pub_date_sort_begin" do %>
      Publication Year
    <% end %>
  </div>
  <div class="col-sm-8 d-flex justify-content-between">
    <div class="advanced-pub-date">
      <span class="sr-only">Publication date range (starting year)</span>
      <% facet_field = blacklight_config.facet_fields["pub_date_sort"] %>
      <% component = BlacklightRangeLimit::RangeFormComponent.new(facet_field: facet_field) %>
      <%= render BlacklightRangeLimit::RangeInputComponent.new(
        input_name: component.begin_input_name,
        label_text: "",
        input_value: params.dig("range", "pub_date_sort", "begin") ,
        min_value: nil,
        max_value: nil,
        css_class: "range_begin") %>
    </div>

    <div class="pub-date-separator align-self-center">
      <%= label_tag "range_pub_date_sort_end" do %>
        to
      <% end %>
    </div>
    <div class="advanced-pub-date">
      <span class="sr-only">Publication date range (ending year)</span>
      <%= render BlacklightRangeLimit::RangeInputComponent.new(
        input_name: component.end_input_name,
        label_text: "",
        input_value: params.dig("range", "pub_date_sort", "end") ,
        min_value: nil,
        max_value: nil,
        css_class: "range_end") %>
    </div>
  </div>
</div>
