<% format_facet = @response.aggregations["format"] %>

  <div class="bento-resource-container w-100">
    <h2 class="bento-resource-types bg-website-grey"><%= t("bento.resource_types_header") %></h2>
    <ul class=" py-3 bento-resource-types-list pt-2 m-0 list-inline d-flex flex-wrap justify-content-start">
      <% format_facet.items.select do |item| -%>
        <% if item.value == "digital_collections" %>
          <li class="bento-resource-list-item list-inline-item pb-1">
            <%= render_bento_format_facet_value(item) %>
            <%= link_to path_for_books_and_media_facet(format_facet, item) do %>
              <span class='external-link-icon'></span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
