<div class="page-header row">
  <h2 class="col-md-8 page-heading jumbotron-heading"><%= t('bento.greeting') %></h2>
</div>

<div id="getting-started">
  <p class='section-heading'>The Library Search includes the following collections:</p>
  <ul>
    <li> Catalog Search: books, e-books, journals, videos/DVDs, sound recordings, government documents, materials in the Special Collections Research Center (SCRC) and the Charles L. Blockson Afro-American Collection, etc. </li>

    <li>Articles Search: journal articles, newspaper articles, e-books, book chapters, and other resources available online</li>
  </ul>
  <p>Please refer to our <%= faq_link(:long) %> for more information. For additional help, <%= help_link %>.</p>
</div>
