<div class="page-header row">
  <h2 class="col-md-8 page-heading jumbotron-heading"><%= t('bento.greeting') %></h2>
</div>

<div id="getting-started">
  <p class='section-heading'><%= t('bento.introduction') %></p>
  <p class='section-heading'><%= t('bento.html', href: link_to(t("bento.href"), t("bento.href_link"))) %></p>
</div>
