<div class="card lib-guides-recommender-bento border bg-lighter-grey">
  <button class="d-lg-none collapsed w-100 p-0 border-0 m-0" data-toggle="collapse" data-target="#lib-guide-collapse">
    <h2 class="text-left pl-3 lib-guides-recommender-bento-heading text-white bg-cherry-red mb-0 rounded-top">Help &amp; Guides
      <i class="fa float-right pr-3" aria-hidden="true"></i>
      <span class="sr-only">Expand/Collapse Card</span>
    </h2>
  </button>
    <h2 class="d-none d-lg-block lib-guides-recommender-bento-heading text-white bg-cherry-red pl-3 mb-0 rounded-top">Help &amp; Guides</h2>
    <div id="lib-guide-collapse" class="collapse d-lg-block bento-guides" data-target="lib-guides.card">
      <div class="lib-guides-recommender-librarians border p-3">
        <h3 class="lib-guides-recommender-heading lib-guides-recommender-bento-heading" data-target="lib-guides.heading">Subject Librarians</h3>
      </div>

      <div class="lib-guides-recommender-guides border-top border-red p-3">
        <h3 class="lib-guides-recommender-heading lib-guides-recommender-bento-heading" data-target="lib-guides.heading">Research Guides</h3>
      </div>
    </div>
</div>
