<div class="lib-guides-recommender-bento border" data-lib-guides-api-url="<%= lib_guides_path(q: params[:q]) %>">
  <div class="lib-guides-recommender-bento-body">
    <h4 class="lib-guides-recommender-bento-heading text-white bg-red p-2 mb-0">Help &amp; Guides</h4>
    <div>
      <div class="lib-guides-recommender-librarians border p-2">
        <h5 class="lib-guides-recommender-bento-heading">Subject Librarians</h5>
      </div>

      <div class="lib-guides-recommender-guides border p-2">
        <h5 class="lib-guides-recommender-bento-heading">Research Guides</h5>
      </div>
    </div>
  </div>
</div>
