<% format_facet = @response.aggregations["format"] %>

  <div class="bento-resource-container w-100">
    <h2 class="bento-resource-types bg-lighter-grey"><%= t("bento.resource_types_header") %></h2>
    <ul class="bento-resource-types-list pt-2 pb-5 m-0 list-inline d-flex flex-wrap justify-content-start">
      <% format_facet.items.each do |item| %>
        <% unless item.value == "digital_collections" %>
          <li class="bento-resource-list-item list-inline-item pb-1"><%= render_bento_format_facet_value(item) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
