<div class="bento-resource-types bg-white">
  <h2>View other resource types in the catalog</h2>
  <ul>
    <% @resource_types.each do |type| %>
    <li class="list_items"><%= type %></li>
    <% end %>
  </ul>
</div>
