<% if @results %>
  <div class="bento-container pl-5 pt-3 pb-5">
    <%= render_bento_results %>
  </div>
<% else %>
  <div class="bento-container">
    <%= render("home_text") %>
  </div>
<% end %>

<%= render :partial => "resource_types" %>
