<% if @results %>
  <div class="bento-container pt-2 pb-5">
    <%= render_bento_results %>
  </div>
  <%= render :partial => "resource_types" %>
<% else %>
  <div class="bento-container">
    <%= render("home_text") %>
  </div>
<% end %>
