    <% if @results %>
      <% if !cookies.fetch("bentoOnce", false) %>
        <div class="row explanation-div" data-target="explanation.bento" data-controller="explanation">
          <div class="col-xs-12 col-sm-11">
            <p class="everything-explanation"><%= t("bento.explanation_html",
              books: link_to(t("bento.books"), search_books_path),
              articles: link_to(t("bento.articles"), search_path),
              journals: link_to(t("bento.journals"), search_journals_path),
              more: link_to(t("bento.more"), search_catalog_path)) %></p>
          </div>
          <div class="col-xs-12 col-sm-1">
            <button class="btn btn-link bento-hide-link" data-action="explanation#bento">Hide</button>
          </div>
        </div>
      <% end %>
      
      <div class="bento-container">
          <%= render_bento_results %>
        <% else %>
          <%= render("home_text") %>
        <% end %>
      </div>
