<div class="d-flex flex-column mr-1 me-1">
  <%= label_tag @input_name, @label_text, class: 'text-muted small mb-1' %>
  <%= text_field_tag @input_name,
    @input_value,
    maxlength: 4,
    class: "form-control #{@css_class}" %>
</div>
