<div data-controller="query-list" data-query-list-url="/query_list?<%= query %>" class="border p-1 m-2">
  <h2 class="query-lists"><%= title %></h2>
  <div class="container-fluid" data-target="query-list.results"></div>
</div>
