<div data-controller="query-list" data-query-list-url="/query_list?<%= query %>">
  <div class="d-flex">
    <h3 class="secondary-query-header"><%= title %></h3>
    <span class="question_mark-icon ml-2" data-toggle="tooltip" data-placement="bottom" data-container="body" title="<%= tooltip %>" tabindex="0"></span>
  </div>

  <hr class="query-hr" />
  <div class="query-list-preload" data-query-list-target="results">
    <span class="fa fa-spinner" aria-busy="true" aria-live="polite"></span>
    <span>Loading...</span>
  </div>
</div>
