<div data-controller="query-list" data-query-list-url="/query_list?<%= query %>" class="p-1 ml-4">
  <h2 class="query-lists"><%= title %></h2>
  <div class="query-list-preload" data-target="query-list.results">
    <span class="fa fa-spinner" aria-busy="true" aria-live="polite"></span>
    <span>Loading...</span>
  </div>
</div>
