---
http_interactions:
- request:
    method: get
    uri: https://digital.library.temple.edu/digital/bl/dmwebservices/index.php?q=dmQuery/all/CISOSEARCHALL%5EUndergraduate%20Research%20Prize%20Winners%5Eall%5Eand/title!date/nosort/9/0/1/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pager":{"start":"0","maxrecs":"9","total":121},"records":[{"collection":"\/p15037coll12","pointer":1927,"filetype":"cpd","parentobject":-1,"title":"Sustainable
        and Efficient Rope Pump","date":"2012","find":"1928.cpd"},{"collection":"\/p15037coll12","pointer":789,"filetype":"cpd","parentobject":-1,"title":"The
        Dancing Intelligence of the Age: Women of the Institute of Colored Youth,
        1852-1903","date":"2011","find":"790.cpd"},{"collection":"\/p15037coll12","pointer":2701,"filetype":"cpd","parentobject":-1,"title":"Using
        Green Infrastructure to Minimize Combined Sewer Overflows","date":"2016","find":"2702.cpd"},{"collection":"\/p15037coll12","pointer":2702,"filetype":"pdf","pa[...]
