---
http_interactions:
- request:
    method: get
    uri: http://lgapi-us.libapps.com/1.1/guides/?expand=owner&guide_types=1,2,3,4&key=SECRET&search_terms=education&site_id=17&sort_by=relevance&status=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://lgapi-us.libapps.com/1.1/guides/?expand=owner&guide_types=1%2C2%2C3%2C4&key=SECRET&search_terms=education&site_id=17&sort_by=relevance&status=1
      X-Backend-Server:
      - libapps-us-3.springyaws.com
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 14 Mar 2023 19:58:02 GMT
- request:
    method: get
    uri: https://lgapi-us.libapps.com/1.1/guides/?expand=owner&guide_types=1,2,3,4&key=SECRET&search_terms=education&site_id=17&sort_by=relevance&status=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libapps-us-3.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '[{"id":77734,"type_id":3,"site_id":17,"owner_id":163320,"group_id":1802,"name":"Education","description":"An
        introduction to research in Education","redirect_url":"","status":1,"published":"2007-06-18
        15:20:51","created":"2007-06-11 22:09:35","updated":"2019-01-22 16:55:37","slug_id":83932,"nav_type":2,"count_hit":105,"slug":"education","status_label":"Published","type_label":"Subject
        Guide","url":"https:\/\/guides.temple.edu\/c.php?g=77734","friendly_url":"https:\/\/guides.temple.edu\/education","thumbnail_url":"","owner":{"id":"163320","first_name":"Olivia","last_name":"Given
        Castello","email":"olivia.castello@temple.edu","title":"","nickname":"","signature":"","created_by":"15139","created":"2018-01-19
        16:06:39","updated":"2021-10-18 16:05:57"}},{"id":77947,"type_id":3,"site_id":17,"owner_id":15128,"group_id":1802,"name":"Art
        Education","description":"Art Education Resources","redirect_url":"","status":1,"published":"2009-09-17
        16:23:32","created":"2009-09-17 05:29:56","updated":"2020-02-18 19:18:01","slug_id":84130,"nav_type":2,"count_hit":16,"slug":"arted","status_label":"Published","type_label":"Subject
        Guide","url":"https:\/\/gu[...]
