---
http_interactions:
- request:
    method: get
    uri: https://digital.library.temple.edu/digital/bl/dmwebservices/index.php?q=dmQuery/p15037coll10!p15037coll14!p15037coll15!p15037coll17!p15037coll18!p15037coll19!p15037coll2!p15037coll3!p15037coll4!p15037coll5!p15037coll7!p16002coll1!p16002coll11!p16002coll12!p16002coll14!p16002coll16!p16002coll17!p16002coll18!p16002coll19!p16002coll2!p16002coll22!p16002coll24!p16002coll26!p16002coll28!p16002coll29!p16002coll3!p16002coll31!p16002coll33!p16002coll4!p16002coll5!p16002coll6!p16002coll7!p16002coll9!p245801coll0!p245801coll12!p245801coll13!p15037coll1/CISOSEARCHALL%5Eart%20history%5Eall%5Eand/title!date/nosort/5/0/1/0/0/0/0/0/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pager":{"start":"0","maxrecs":"5","total":1303},"records":[{"collection":"\/p245801coll12","pointer":84569,"filetype":"cpd","parentobject":-1,"title":"Templar
        1971","date":"1971","find":"85072.cpd"},{"collection":"\/p16002coll11","pointer":18486,"filetype":"cpd","parentobject":-1,"title":"The
        Temple News, September 08 - December 03, 1976","date":"1976-09-08 - 1976-12-03","find":"18487.cpd"},{"collection":"\/p245801coll12","pointer":97652,"filetype":"cpd","parentobject":-1,"title":"Templar
        1997","date":"1997","find":"98155.cpd"},{"collection":"\/p245801coll12","pointer":145744,"filetype":"cpd","parentobject":-1,"title":"Temple
        University Japan 1994","date":"1994","find":"146247.cpd"},{"collection":"\/p245801coll12","pointer":98178,"filetype":"cpd","parentobject":-1,"title":"Templar
        1998","date":"1998","find":"98681.cpd"}]}'
  recorded_at: Mon, 01 Apr 2024 16:54:21 GMT
- request:
    method: get
    uri: https://digital.library.temple.edu/digital/bl/dmwebservices/index.php?q=dmGetCollectionList/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"alias":"\/p16002coll9","name":"Allied Posters of World War I","path":"\/cdm\/sites\/16002\/data\/p16002coll9","secondary_alias":"p16002coll9"},{"alias":"\/p16002coll19","name":"Ambler
        Campus History in Photographs","path":"\/cdm\/sites\/16002\/data\/p16002coll19","secondary_alias":"p16002coll19"},{"alias":"\/p15037coll5","name":"City
        Parks Association Photographs","path":"\/cdm\/sites\/16002\/data\/p15037coll5","secondary_alias":"p15037coll5"},{"alias":"\/p16002coll29","name":"Father
        Paul M. Washington Papers","path":"\/cdm\/sites\/16002\/data\/p16002coll29","secondary_alias":"p16002coll29"},{"ali[...]
- request:
    method: head
    uri: https://digital.library.temple.edu/digital/iiif/2/p16002coll11:18486/full/,220/0/default.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 501
      message: Not Implemented
    headers:
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - text/plain;charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 Apr 2024 16:54:22 GMT
- request:
    method: head
    uri: https://digital.library.temple.edu/digital/iiif/2/p245801coll12:98178/full/,220/0/default.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Link:
      - <https://digital.library.temple.edu/iiif/2/p245801coll12:98178/full/170,/0/default.jpg>;rel="canonical"
      Content-Type:
      - image/jpeg
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 Apr 2024 16:54:22 GMT
[...]
- request:
    method: head
    uri: https://digital.library.temple.edu/utils/getthumbnail/collection/p16002coll11/id/18486
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - image/jpeg
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 Apr 2024 16:54:22 GMT
recorded_with: VCR 6.2.0
