---
http_interactions:
- request:
    method: post
    uri: https://lgapi-us.libapps.com/1.2/oauth/token
    body:
      encoding: UTF-8
      string: client_id=LIB_GUIDES_CLIENT_ID&client_secret=LIB_GUIDES_CLIENT_SECRET&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libapps-us-1.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"f2edc6524535209b3225LIB_GUIDES_SITE_ID99002faf549c16c4fc","expires_in":3600,"token_type":"Bearer","scope":"subjects_get
        guides_get"}'
  recorded_at: Thu, 05 Mar 2026 17:55:10 GMT
- request:
    method: get
    uri: https://lgapi-us.libapps.com/1.2/guides?expand=owner&guide_types=1,2,3,4&search_terms=education&site_id=LIB_GUIDES_SITE_ID&sort_by=relevance&status=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer LIB_GUIDES_BEARER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libapps-us-4.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: '[{"id":77734,"type_id":3,"site_id":LIB_GUIDES_SITE_ID,"owner_id":56,"group_id":1802,"name":"Education","description":"An
        introduction to research in Education","redirect_url":"","status":1,"published":"2007-06-18
        15:20:51","created":"2007-06-11 22:09:35","updated":"2023-07-08 14:36:05","slug_id":83932,"nav_type":2,"count_hit":161,"slug":"education","status_label":"Published","type_label":"Subject
        Guide","url":"https:\/\/guides.temple.edu\/c.php?g=77734","friendly_url":"https:\/\/guides.temple.edu\/education","thumbnail_url":"","owner":{"id":56,"email":"jsipes@temple.edu","first_name":"Jackie","last_name":"Sipes","created":"2014-01-27
        21:57:47","updated":"2024-09-30 15:36:13","account_site_mapping":{"account_id":56,"site_id":LIB_GUIDES_SITE_ID,"level":1,"acl":""}}},{"id":77947,"type_id":3,"site_id":LIB_GUIDES_SITE_ID,"owner_id":15128,"group_id":1802,"name":"Art
        Education","description":"Art Education Resources","redirect_url":"","status":1,"published":"2009-09-LIB_GUIDES_SITE_ID
        16:23:32","created":"2009-09-LIB_GUIDES_SITE_ID 05:29:56","updated":"2026-02-23
        20:09:57","slug_id":84130,"nav_type":2,"count_hit":106,"slug":"arted","status_label":"Published","type_label":"Subject
        Guide","url":"https:\/\/guides.temple.edu\/c.[...]
