---
http_interactions:
- request:
    method: get
    uri: https://api-na.hosted.exlibrisgroup.com/primo/v1/pnxs?apikey=API_KEY&limit=10&q=any,contains,james&scope=pci_scope&vid=TULI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"highlights":{"creator":["james"],"contributor":["james"],"vertitle":["James","JAMES","james"],"description":["James"],"termsUnion":["James","JAMES","james"],"title":["James","JAMES","james"]},"docs":[{"date":"2011","sourceId":"oxford_reference","delivery":{"deliveryCategory":["Remote
        Search Resource"],"availability":["fulltext"],"GetIt1":[{"links":[{"isLinktoOnline":true,"displayText":"Almaviewit_remote","hyperlinkText":"","getItTabText":"alma_tab1_full","link":"https://temple.userservices.exlibrisgroup.com/view/uresolver/01TULI_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2017-10-18T14%3A22%3A28IST&ctx_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004&rfr_id=info:sid/primo.exlibrisgroup.com-oxford_reference&req_id=&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=James&rft.jtitle=&rft.btitle=The%20Oxford%20Dictionary%20of%20Saints&rft.aulast=Farmer&rft.auinit=D.H.&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Farmer,%20David%20Hugh&rft.aucorp=&rft.date=2011&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=&rft.artnum=&rft.issn=&rft.eissn=&rft.isbn=9780191727764&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft.eisbn=&rft.edition=5%20rev.%20ed.&rft.pub=Oxford%20University%20Press&rft.place=&rft.series=&rft.stitle=&rft.bici=&rft_id=info:bibcode/&rft_id=info:hdl/&rft_id=info:lccn/&rft_id=info:oclcnum/&rft_id=info:pmid/&rft_id=info:eric/((addata/eric}}&rft_dat=<oxford_reference>10.1093/acref/9780199596607.013.0872</oxford_reference>,language=,view=TULI&svc_dat=viewit&rft.local_attribute=&rft.kind=","@id":"_:0"}],"category":"Remote
        Search Resource"}]},"creator":["Farmer, David Hugh"],"sourceSystem":"Other","adaptor":"primo_central_multiple_fe","pnxId":"TN_oxford_reference10.1093/acref/9780199596607.013.0872","title":"James","isPartOf":"The
        Oxford Dictionary of Saints","enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"@TYPE":"reference_entry","context":"PC","@id":"https://api-na.hosted.exlibrisgroup.com/primo/v1/pnxs/PC/TN_oxford_reference10.1093/acref/9780199596607.013.0872?"},{"date":"2003","sourceId":"ama","enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"deliveryCategory":["Remote
        Search Resource"],"availability":["fulltext"],"GetIt1":[{"links":[{"isLinktoOnline":true,"displayText":"Almaviewit_remote","hyperlinkText":"","getItTabText":"alma_tab1_full","link":"https://temple.userservices.exlibrisgroup.com/view/uresolver/01TULI_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2017-10-18T14%3A22%3A28IST&ctx_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004&rfr_id=info:sid/primo.exlibrisgroup.com-ama&req_id=&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=James&rft.jtitle=JAMA&rft.btitle=&rft.aulast=&rft.auinit=&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=&rft.aucorp=&rft.date=20030903&rft.volume=290&rft.issue=9&rft.part=&rft.quarter=&rft.ssn=&rft.spage=&rft.epage=&rft.pages=1221-2&rft.artnum=&rft.issn=0098-7484&rft.eissn=1538-3598&rft.isbn=&rft.sici=&rft.coden=&rft_id=info:doi/10.1001/jama.290.9.1221&rft.object_id=&rft.eisbn=&rft.edition=&rft.pub=American%20Medical%20Association&rft.place=&rft.series=&rft.stitle=&rft.bici=&rft_id=info:bibcode/&rft_id=info:hdl/&rft_id=info:lccn/&rft_id=info:oclcnum/&rft_id=info:pmid/&rft_id=info:eric/((addata/eric}}&rft_dat=<ama>197210</ama>,language=,view=TULI&svc_dat=viewit&rft.local_attribute=&rft.kind=","@id":"_:0"}],"category":"Remote
        Search Resource"}]},"sourceSystem":"Other","@TYPE":"article","context":"PC","adaptor":"primo_central_multiple_fe","pnxId":"TN_ama197210","@id":"https://api-na.hosted.exlibrisgroup.com/primo/v1/pnxs/PC/TN_ama197210?","title":"James","isPartOf":"JAMA,
        03 September 2003, Vol.290(9)"},{"date":"2013","sourceId":"proquest","delivery":{"deliveryCategory":["Remote
        Sear[...]
