---
http_interactions:
- request:
    method: get
    uri: https://server16002.contentdm.oclc.org/dmwebservices/index.php?q=dmQuery/all/CISOSEARCHALL%5EGoogle%5Eall/dmrecord/dmrecord/1/1/1/0/0/0/0/0/xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results>
        <pager>
          <start>1</start>
          <maxrecs>1</maxrecs>
          <total>522</total>
        </pager>
        <records>
        <record>
          <collection><![CDATA[/p245801coll10]]></collection>
          <pointer><![CDATA[296184]]></pointer>
          <filetype><![CDATA[cpd]]></filetype>
          <parentobject><![CDATA[-1]]></parentobject>
          <dmrecord><![CDATA[]]></dmrecord>
          <find><![CDATA[298059.cpd]]></find>
        </record>
        </records>
        <searchquery>/!/search?query=+%28ft%3AGoogle%29 and (za:f3 or za:&quot;69.204.158.178&quot;)&amp;group=$group.pa.cp&lt;ITEM&gt;&lt;DB&gt;$pa&lt;/DB&gt;&lt;KEY&gt;$cp&lt;/KEY&gt;&lt;SORT&gt;$sort-$max.ft.$d&lt;/SORT&gt;&lt;/ITEM&gt;&amp;collection=/p16002-p16002coll9/,/p16002-p16002coll19/,/p16002-p15037coll5/,/p16002-p16002coll26/,/p16002-p16002coll14/,/p16002-p15037coll7/,/p16002-p15037coll3/,/p16002-p245801coll13/,/p16002-p15037coll4/,/p16002-p16002coll31/,/p16002-p15037coll17/,/p16002-p15037coll9/,/p16002-p16002coll28/,/p16002-p15037coll10/,/p16002-p16002coll17/,/p16002-p15037coll6/,/p16002-p15037coll15/,/p16002-p15037coll18/,/p16002-p16002coll16/,/p16002-p245801coll0/,/p16002-p15037coll1/,/p16002-p15037coll12/,/p16002-p245801coll10/,/p16002-p245801coll12/,/p16002-p16002coll30/,/p16002-p16002coll24/,/p16002-p16002coll7/,/p16002-p16002coll4/,/p16002-p16002coll5/,/p16002-p16002coll3/,/p16002-p16002coll1/,/p16002-p16002coll6/,/p16002-p15037coll2/,/p16002-p15037coll19/,/p16002-p15037coll14/,/p16002-p16002coll2/,/p16002-p16002coll11/&amp;suggest=0&amp;rankboost=&amp;proximity=strict&amp;priority=normal&amp;unanchoredphrases=1&amp;maxres=1&amp;firstres=0&amp;rform=/!/null.htm</searchquery></results>
  recorded_at: Tue, 23 Jun 2020 17:47:43 GMT
- request:
    method: get
    uri: https://api-na.hosted.exlibrisgroup.com/primo/v1/search?apikey=SECRET&limit=3&offset=0&pcAvailability=false&q=any,contains,Google,AND&scope=pci_scope&sort=rank&vid=TULI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"highlights":{"creator":["google"],"contributor":["google"],"subject":["Google"],"vertitle":["Google","google","Google''s"],"description":["Google","Google\u2019s","Google''s"],"termsUnion":["Google","Google\u2019s","google","Google''s"],"title":["Google","google","Google''s"]},"docs":[{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["detailsGetit1"],"physicalItemTextCodes":"","displayLocation":false,"availabilityLinksUrl":[""],"link":[{"displayLabel":"openurl","hyperlinkText":"","inst4opac":"01TULI","linkURL":"http://1.1.1.1?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2020-06-23T12%3A47%3A44IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Article-gvrl_ref&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=Google&rft.jtitle=&rft.btitle=&rft.aulast=Bjerke&rft.auinit=R.&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Bjerke,%20A.%20R.&rft.aucorp=&rft.date=2012&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=478&rft.epage=479&rft.pages=478-479&rft.artnum=&rft.issn=&rft.eissn=&rft.isbn=978-1-4129-9789-8&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft_dat=%3Cgvrl_ref%3ECX1958900278%3C/gvrl_ref%3E%3Cgrp_id%3E-8443850126581823561%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft.eisbn=&rft_id=info:oai/&rft_pqid=&rft_id=info:pmid/&rft_galeid=CX1958900278&rft_cupid=&rft_eruid=&rft_nurid=&rft_ingid=","linkType":"http://purl.org/pnx/linkType/openurl","@id":"_:0"},{"displayLabel":"openurlfulltext","hyperlinkText":"","inst4opac":"01TULI","linkURL":"http://1.1.1.1?ctx_ver=Z39.88-2004&ctx_enc=info:ofi/enc:UTF-8&ctx_tim=2020-06-23T12%3A47%3A44IST&url_ver=Z39.88-2004&url_ctx_fmt=infofi/fmt:kev:mtx:ctx&rfr_id=info:sid/primo.exlibrisgroup.com:primo3-Article-gvrl_ref&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=Google&rft.jtitle=&rft.btitle=&rft.aulast=Bjerke&rft.auinit=R.&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Bjerke,%20A.%20R.&rft.aucorp=&rft.date=2012&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=478&rft.epage=479&rft.pages=478-479&rft.artnum=&rft.issn=&rft.eissn=&rft.isbn=978-1-4129-9789-8&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&svc_val_fmt=info:ofi/fmt:kev:mtx:sch_svc&svc.fulltext=yes&rft_dat=%3Cgvrl_ref%3ECX1958900278%3C/gvrl_ref%3E%3Cgrp_id%3E-8443850126581823561%3C/grp_id%3E%3Coa%3E%3C/oa%3E%3Curl%3E%3C/url%3E&rft.eisbn=&rft_id=info:oai/&rft_pqid=&rft_id=info:pmid/&rft_galeid=CX1958900278&rft_cupid=&rft_eruid=&rft_nurid=&rft_ingid=","linkType":"http://purl.org/pnx/linkType/openurlfulltext","@id":"_:1"},{"displayLabel":"thumbnail","linkURL":"no_cover","linkType":"http://purl.org/pnx/linkType/thumbnail","@id":"_:2"}],"availability":["fulltext"],"additionalLocations":false,"displayedAvailability":"fulltext","holding":[],"deliveryCategory":["Remote
        Search Resource"],"serviceMode":["activate"],"feDisplayOtherLocations":false,"GetIt1":[{"links":[{"isLinktoOnline":true,"displayText":"Almaviewit_remote","hyperlinkText":"","getItTabText":"alma_tab1_full","link":"https://temple.userservices.exlibrisgroup.com/view/uresolver/01TULI_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2020-06-23T12%3A47%3A44IST&ctx_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004&rfr_id=info:sid/primo.exlibrisgroup.com-gvrl_ref&req_id=&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=Google&rft.jtitle=&rft.btitle=&rft.aulast=Bjerke&rft.auinit=R.&rft.auinit1=&rft.auinitm=&rft.ausuffix=&rft.au=Bjerke,%20A.%20R.&rft.aucorp=&rft.date=2012&rft.volume=&rft.issue=&rft.part=&rft.quarter=&rft.ssn=&rft.spage=478&rft.epage=479&rft.pages=478-479&rft.artnum=&rft.issn=&rft.eissn=&rft.isbn=978-1-4129-9789-8&rft.sici=&rft.coden=&rft_id=info:doi/&rft.object_id=&rft.eisbn=&rft.edition=&rft.pub=&rft.place=&rft.series=&rft.stitle=&rft.bici=&rft_id=info:bibcode/&rft_id=info:hdl/&rft_id=info:lccn/&rft_id=info:oclcnum/&rft_id=info:pmid/&rft_id=info:eric/((addata/eric}}&rft_dat=%3Cgvrl_ref%3ECX1958900278%3C/gvrl_ref%3E%3Curl%3E%3C/url%3E,language=eng,view=TULI&svc_dat=viewit&rft.local_attribute=&rft.kind=&rft_pqid=&rft_galeid=CX1958900278&rft_cupid=&rft_eruid=&rft_nurid=&rft_ingid=","@id":"_:0"}],"category":"Remote
        Search Resource"}]},"context":"PC","adaptor":"primo_central_multiple_fe","pnx":{"delivery":{"fulltext":["fulltext"],"delcategory":["Remote
        Search Resource"]},"search":{"lsr40":["2012, pp.478-479"],"sourceid":["gvrl_ref"],"lsr50":["reference"],"creatorcontrib":["Bjerke,
        A. R."],"creationdate":["2012"],"citation":["pf 478 pt 479"],"subject":["Cultural
        Identity","Religion and Politics","Brin, Sergey","Search Engines","Pornography","China","Page,
        Larry","Censorship"],"isbn":["978-1-4129-9789-8","9781412997898"],"rsrctype":["reference_entry"],"title":["Google"],"startdate":["20120101"],"recordid":["gvrl_refCX1958900278"],"general":["English","Gale
        Virtual Reference Library (GVRL)"],"enddate":["20121231"],"alttitle":["Encyclopedia
        of Global Religion"],"scope":["gvrl_ref","gale_gvrl"]},"display":{"identifier":["<b>ISBN:
        </b>978-1-4129-9789-8"],"creator":["Bjerke, A. R."],"subject":["Cultural Identity
        ; Religion and Politics ; Brin, Sergey ; Search Engines ; Pornography ; China
        ; Page, Larry ; Censorship"],"ispartof":["Encyclopedia of Global Religion"],"language":["eng"],"source":["Gale
        Virtual Reference Library (GVRL)"],"title":["Google"],"type":["reference_entry"]},"links":{"openurl":["$$Topenurl_article"],"openurlfulltext":["$$Topenurlfull_article"]},"control":{"recordid":["TN_gvrl_refCX1958900278"],"sourceid":["gvrl_ref"],"galeid":["CX1958900278"],"sourcerecordid":["CX1958900278"],"sourcesystem":["PC"]},"addata":{"date":["2012"],"aulast":["Bjerke"],"isbn":["978-1-4129-9789-8"],"ristype":["GEN"],"format":["journal"],"spage":["478"],"auinit":["R."],"atitle":["Google"],"aufirst":["A."],"pages":["478-479"],"au":["Bjerke,
        A. R."],"epage":["479"],"genre":["article"],"risdate":["2012"]},"sort":{"creationdate":["20120000"],"author":["Bjerke,
        A. R."],"title":["Google"],"lso01":["20120000"]},"facets":{"frbrtype":["6"],"creatorcontrib":["Bjerke,
        A. R."],"creationdate":["2012"],"frbrgroupid":["-8443850126581823561"],"rsrctype":["reference_entrys"],"topic":["Cultural
        Identity","Religion and Politics","Brin, Sergey","Search Engines","Pornography","China","Page,
        Larry","Censorship"],"language":["eng"],"collection":["Gale Virtual Reference
        Library (GVRL)"],"prefilter":["reference_entrys"]}},"@id":"http://temple-primo.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/primo-explore/v1/pnxs/PC/TN_gvrl_refCX1958900278"},{"enrichment":{"virtualBrowseObject":{"callNumber":"","isVirtualBrowseEnabled":false,"callNumberBrowseField":"browse_callnumber"}},"delivery":{"availabilityLinks":["detailsGetit1"],"physicalItemTextCodes":"","displayLocation":false,"availabilityLinksUrl":[""],"link":[{"displayLabel":"openurl","hyperlinkText":"","inst4opac":"01TULI","l[...]
