<div class="user-info row row-eq-height">
	<div class="col col-md-5">
	  <ul>
	    <li><span>Name:</span> Laura Pierson </li>
	    <li><span>Status:</span> Active </li>
	    <li><span>Items checked out:</span> <%= total_loans(@loans) %></li>
	    <li><span>Items requested:</span> <%= total_holds(@holds) %></li>
	    <li><span>Current balance:</span> 
	      <span class="balance"><%= number_to_currency(@fines.sum) %></span> </li>
	     <li><%= link_to "Update name via TUPortal", "https://tuportal.temple.edu" %></li>
	  </ul>
	</div>
</div>