<div class="container user-fines" data-controller="fines" data-fines-url=<%= user_fines_path %>>
  <h2 class="user_section_title">My Fines</h2>
  <table class="table user-table table-responsive border-0">
    <caption class="sr-only">Table of Current Fines for this user</caption>
    <thead>
      <tr>
        <th width="2%">#</th>
        <th width="40%">Title</th>
        <th width="10%">Fee Type</th>
        <th width="10%">Fine</th>
        <th width="28%"></th>
      </tr>
    </thead>
      <% if browser.ie?("<11") %>
      <tbody>
        <%= render partial: "fines_details", locals: {fines: current_user.fines} %>
      </tbody>
      <% else %>
      <tbody data-target="fines.table">
        <p class="text-center" data-target="fines.spinner">
          <span class="loading-message glyphicon glyphicon-refresh spinning" >
          </span><span class="loading-message"> Loading Fines...</span>
        </p>
      </tbody>
      <% end %>
  </table>
  <div class="fines-link text-center">
    Fines cannot be paid electronically<br />
    <%= link_to "Learn more about late fines and replacement charges.", "http://library.temple.edu/services/privileges" %>
  </div>
</div>
