<div class="container user-fines" data-controller="fines" data-fines-url=<%= user_fines_path %>>
  <h2 class="user_section_title">My Fines</h2>
  <table class="table user-table table-responsive border-0">
    <caption class="sr-only">Table of Current Fines for this user</caption>
    <thead>
      <tr>
        <th class="fines-number">#</th>
        <th class="fines-title">Title</th>
        <th class="fines-fee-type">Fee Type</th>
        <th class="fines-amount">Fine</th>
      </tr>
    </thead>
      <% if browser.ie?("<11") %>
      <tbody>
        <%= render partial: "fines_details", locals: {fines: current_user.fines} %>
      </tbody>
      <% else %>
      <tbody data-fines-target="table">
        <tr>
          <td class="text-center" data-fines-target="spinner">
            <i class="fa fa-spinner" aria-busy="true" aria-live="polite"></i>
            <span class="loading-message"> Loading Fines...</span>
          </td>
        </tr>
      </tbody>
      <% end %>
  </table>
  <div class="fines-link text-center">
    <%= quik_pay_button %>
    <br />
    <%= link_to(t("account.fines_text"), t("account.fines_link")) %>
  </div>
</div>
