<h1 class="page-title my-account-heading m-4">My Library Account</h1>

<div class="container user-account bg-white rounded pr-0 pl-0 pt-2 pb-2">
  <%= render partial: "user_info" %>
  <%= render partial: "user_loans" %>
  <%= render partial: "user_holds" %>
  <%= render partial: "user_fines" %>
</div>
