<h1 class="page-title">My Library Account</h1>

<div class="container user-account">
  <%= render partial: "user_info" %>
  <%= render partial: "user_loans" %>
  <%= render partial: "user_holds" %>
  <%= render partial: "user_fines" %>
</div>
