
<div class="container user-account bg-white rounded px-0 pt-2 pb-2">

  <h1 class="page-title my-account-heading">My Library Account</h1>

  <%= render partial: "user_info" %>
  <%= render partial: "user_loans" %>
  <%= render partial: "user_holds" %>
  <%= render partial: "user_fines" %>
</div>
