<h1>User's holds</h1>
<ul>
  <% @items.each do |hold| %>
    <li>
      <%= hold.title %><br/>
      Held until: <%= Time.parse(hold.expiry_date).to_formatted_s(:long) %>.  Status: <%= hold.request_status %>
    </li>
  <% end %>
</ul>
