<h1>User's items on loan</h1>
<ul>
  <% @items.each do |loan| %>
    <li>
      Title: <%= loan.title %>,
      Due Date: <%= loan.due_date %>,
      Bar Code: <%= loan.item_barcode %>
    </li>
  <% end %>
</ul>
