<div class="site-message">
  <div class="container container-medium">
    <p>
      <%= t("blacklight.banner_part_one_html", href: link_to(t("blacklight.banner_part_one_href"), t("blacklight.banner_part_one_link"))) %>
      <%= link_to(t("blacklight.banner_part_two_href"), t("blacklight.banner_part_two_link")) %>
    </p>
  </div>
</div>
