<div class="site-message">
  <div class="container container-medium">
    <p>
      This is the enhanced Library Search released in August 2018. See our  <%= faq_link %> for more information or use the <%= former_search_link %> for a limited time.
    </p>
  </div>
</div>
