<div class="site-message border-bottom border-aged-red d-flex justify-content-center bg-tan">
  <p class="banner-text">
    This is the enhanced Library Search released in August 2018. See our&nbsp<%= faq_link %>&nbspfor more information or use the&nbsp<%= former_search_link %>&nbspfor a limited time.
  </p>
</div>
