<div class="site-message">
  <div class="container container-medium">
   <div class="row">
      <div class="col">
        <%= image_tag "information.png", class: "decorative", alt: "" %>
        <%= raw t("blacklight.banner_html") %>
      </div>
    </div>
  </div>
</div>
