<div class="site-message">
  <div class="container container-medium">
    <p>
      <span class="beta-tag tag">Beta</span> This is the Library Search beta. Please refer to the <%= link_to("Library Search Road Map", "https://library.temple.edu/library-search-faq/roadmap") %>  for more information.
    </p>
  </div>
</div>
