  <div id="site-footer" class="">
  <div class="row">
    <div class="col">

      <div class="postscript">
    
        <div class="region region-postscript-first">        
          <div class="dept-address">
            <address><span class="place-title bebas">Temple University</span><br /><span class="place-location">University Libraries</span><br />1210 Pollet Walk<br />Philadelphia, PA 19122</address>
          </div>
         </div>
            
        <div class="region region-postscript-second">        
          <nav role="navigation">
            <ul>
              <li><a href="https://directory.temple.edu/">Cherry and White Directory</a></li>
              <li><a href="http://temple.edu/maps-and-directions">Maps and Directions</a></li>
              <li><a href="http://temple.edu/contact">Contact</a></li>
            </ul>
          </nav>
        </div>   

        <div class="region region-postscript-third">        
          <nav role="navigation">
            <ul>
              <li style="display:inline;margin-right:14px;"><%= link_to image_tag('fb.png', class: 'social-icon', alt: 'Facebook Icon', :style => 'width:32px;height:32px;') %></li>
              <li style="display:inline;margin-right:14px;"><%= link_to image_tag('twitter.png', class: 'social-icon', alt: 'Twitter Icon', :style => 'width:36px;height:36px;margin-top:2px;') %></li>
              <li style="display:inline"><%= link_to image_tag('instagram.png', class: 'social-icon', alt: 'Instagram Icon', :style => 'width:32px;height:32px;') %></li>
            </ul>
          </nav>
        </div>

      </div> 

      <div class="tu-links">    

        <div class="region region-footer">
          <div>
            <ul>
              <li><a class="droid" href="http://tuportal.temple.edu/">TUportal</a></li>
              <li><a class="droid" href="http://tumail.temple.edu/">TUmail</a></li>
              <li><a class="droid" href="http://temple.edu/sitemap/">Sitemap</a></li>
              <li><a class="droid" href="http://temple.edu/about/temple-university-accessibility-statement/">Accessibility</a></li>
              <li><a class="droid" href="http://policies.temple.edu/">Policies</a></li>
              <li><a class="droid" href="http://temple.edu/hr/departments/employment/jobs_within.htm">Careers at Temple</a></li>
              <li><small>Copyright <%= Time.current.year %> Temple University | All Rights Reserved</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>