<% if current_user %>
    <li>
      <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, :method => 'delete' %>
    </li>
<% else %>
    <li>
      <%= link_to t('blacklight.header_links.login'), new_user_session_with_redirect_path(users_account_path), data: {"ajax-modal": "trigger"} %>
    </li>
<% end %>
