<% if current_user %>
    <div class="user-logout">
      <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path(type: session[:alma_auth_type]), :method => 'delete', id: "logout" %>
    </div>
<% end %>
