  <div class="lib-guides-recommender-librarians border p-3" data-target="lib-guides.flex">
    <h3 class="lib-guides-recommender-heading" data-target="lib-guides.heading">Subject Librarians</h3>
    <% if @guides.present? %>
      <%= link_to(@guides[0]["owner"]["first_name"] + " " + @guides[0]["owner"]["last_name"], "https://guides.temple.edu/prf.php?account_id=" + @guides[0]["owner"]["id"]) %>
    <% else %>
      <div data-target="lib-guides.noresults">
        <p>Need research help?</p>
        <%= link_to("Talk to a librarian or subject matter expert", "https://library.temple.edu/services/sme") %>
      </div>
    <% end %>
  </div>

  <div class="lib-guides-recommender-guides border-top border-red p-3" data-target="lib-guides.flex">
    <h3 class="lib-guides-recommender-heading" data-target="lib-guides.heading">Research Guides</h3>
    <ul class="list-unstyled">
    <% if @guides.present? %>
      <% @guides.each do |guide| %>
        <li class="pb-2">
          <%= link_to(guide["name"], guide["url"]) %>
        </li>
      <% end %>
    <% else %>
      <div data-target="lib-guides.noresults">
        <li class="pb-2">
          <%= link_to("Browse our research guides by subject", "https://guides.temple.edu/?b=s") %>
        </li>
      </div>
    <% end %>
    </ul>
  </div>
