
<turbo-stream action="replace" target="query_lists">
  <template>
    <div id="query_list_1">
      This div will replace the existing element with the DOM ID "query_list_1".
    </div>
  </template>
</turbo-stream>
