<div class="page-header row">
  <h2 class="col-md-8 page-heading jumbotron-heading">Books Search</h2>
</div>

<div id="getting-started">
  <p class='section-heading'>The Library Search includes the following collections:</p>

  <p>
    <ul>
      <li> Books Search: books, e-books, journals, videos/DVDs, sound
      recordings, government documents, materials in the Special
      Collections Research Center (SCRC) and the Charles L. Blockson
      Afro-American Collection, etc.</li>

      <li>Articles Search: journal articles, newspaper articles, e-books, book
      chapters, and other resources available online</li>
    </ul>
  </p>

  <p>Please refer to our <%= faq_link(:long) %> for more information.</p>
  <p>For additional help, <%= help_link %></p>
</div>
