<div id="documents" class="noresults">
  <p class="no-results-header"><%= t("books.zero_results.title_html") %></p>

  <%= render "search_suggestions" %>
  <%= render "other_library_options" %>

</div>
