<div class="record-page-online-list border border-dark-blue border-bottom-0 direct-link">
  <div class=" electronic_links online-list-item">
    <%= link_to document_link_label, document_link, class: "electronic_links"  %>
  </div>
</div>