<div id="getting-started">
  <p class="section-heading"><%= t("articles.section_heading_html") %></p>
  <p class="section-heading"><%= t("articles.citation_html", href: link_to(t("articles.citation_href"), t("articles.citation_link"), target: "_blank")) %></p>
</div>
