<button class="btn-block btn btn-sm btn-info collapsed collapse-button" data-toggle="collapse" data-target="#<%=  document_id %>" >
  <span class="avail-label" aria-expanded="false">Online</span>
</button>
<div id="<%= document_id %>" class="collapse">
  <%= render("online") %>
</div>
