<button class="btn btn-sm online-btn collapsed collapse-button" data-toggle="collapse" data-target="#<%= document_id %>" onclick="loadArticleIframe('div#<%= document_id %>');" id="online_button">
  <span class="avail-label" aria-expanded="false">Online</span>
</button>
<div id="<%= document_id %>" class="collapse col-sm-12" data-iframe-url="<%= document_link + "&is_new_ui=true" %>">
</div>
