
<div class="col-sm-12">
<div id="record-view-iframe"  class="panel">
  <div class="availability-panel-heading panel-heading">
    <h4 id="availability-heading">Availability</h4>
  </div>

  <div class="online-border"></div>
  <div class="availability_iframe physical-holding-panel panel-body">
    <h5 class="online-panel-heading">Online</h5>
    <div class="primo-online-panel-body">
      <% availability_link_partials.each do |partial| %>
        <%= render(partial) %>
      <% end %>
    </div>
  </div>
</div>
</div>
