<%= render "libkey_btn", :document => document %>

<h2 class="sr-only availability-section"><%= "Availability" %></h2>

<div class="col-sm-12 p-0">
  <div id="record-view-iframe"  class="card border-0">
    <div class="online-border"></div>
    <div class="availability_iframe physical-holding-panel card-body p-0">
      <h3 class="online-card-heading mb-0 border border-dark-blue">Online</h3>
      <div class="primo-online-card-body">
        <% availability_link_partials.each do |partial| %>
          <%= render(partial) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
