<div class='panel panel-default'>
  <div class="panel-heading">Search tips</div>
  <div class="panel-body">
    <ul class="advanced-help">
     <li>Use quotation marks to search as an exact phrase.</li>

     <li>Use "OR", "AND", and "NOT" to create boolean logic within a field. You can use parentheses in your complex expressions. </li>

     <li>Use the following wildcard characters: ? for single character wildcard search (ex. wom?n); * for multiple character wildcard search (ex. cultur*)</li>
     
     <li>For secondary advanced searches, use additional filtering options (not available with "Start Over")</li>
   </ul>
  </div>
</div>
