default: &default
  apikey: "EX_LIBRIS_DEVELOPERS_NETWORK_APIKEY"
  institution_code: 01TULI_INST
  delivery_domain: "sandbox01-na.alma.exlibrisgroup.com"

development:
    <<: *default

test:
    <<: *default

production:
    <<: *default
