

default: &default
  primo:
    api_base_url: "api-na.hosted.exlibrisgroup.com/"
    apikey: "YOUR LONG API KEY HERE"
    scope: "pci_scope"
    vid: "TULI"
    web_ui_base_url: "https://your-primo.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid="



development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
