

default: &default
  primo:
    base_url: "https://api-na.hosted.exlibrisgroup.com/primo/v1/pnxs"
    apikey: "YOUR LONG API KEY HERE"
    primo_base_web_url: "https://my-primo.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid="



development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
