<div class="pt-3">
  <%= render :partial=>'/shared/flash_msg' %>
</div>

<h1 class="error-header text-center">We're sorry, but something went wrong.</h1>
<p class="text-center">The item request service did not respond or encountered a problem.</p>
