<div class="pt-3">
  <%= render :partial=>'/shared/flash_msg' %>
</div>

<h4 class="error-header">We're sorry, but something went wrong.</h4>
<p>The item request service did not respond or encountered a problem.</p>
