<div class="pt-3">
  <%= render :partial=>'/shared/flash_msg' %>
</div>

<h4 class="error-header">We're sorry, but something went wrong.</h4>
<p>If you are the application owner check the logs for more information.</p>
