<div class="p-3">
  <%= render :partial=>"/shared/flash_msg" %>
</div>


<h1 class="error-header text-center">We're sorry, but something went wrong.</h1>
<p class="text-center">
  <%= t("blacklight.errors.general_error_html", href: link_to(t("blacklight.errors.error_help_href"), t("blacklight.errors.error_help_link"))) %>
</p>
