<div class="card online-card rounded-0 border-0 p-0">
  <div id="record-page-online" class="table table-responsive">
    <h5 class="online-card-heading card-title mb-0 border border-tan-border border-bottom-0"><%= label %></h5>
    <div class="border border-tan-border">
      <% rows.each do |value| %>
        <div class="online-list-items p-2">
          <div><%= value %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
