<div class="panel-body online-panel">
  <table id="record-page-online" class="table table-responsive border-bottom">
    <h5 class="online-panel-heading"><%= label %></h5>
    <tbody>
      <% rows.each do |value| %>
        <tr class="online-list-items">
          <td><%= value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
