<button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
<% if @documents.one? %>
  <%= render partial: "catalog/single_citation", locals: { document: @documents.first } %>
<% else %>
  <%= render "catalog/grouped_citations" %>
<% end %>

<div class="alert alert-warning">
  Remember to check citations for accuracy before including them in your work.
</div>
