<button type="button" class="blacklight-modal-close close ml-auto pr-3" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
  <span aria-hidden="true">&times;</span>
</button>

<% if @documents.one? %>
  <%= render partial: "catalog/single_citation", locals: { document: @documents.first } %>
<% else %>
  <%= render "catalog/grouped_citations" %>
<% end %>

<div class="alert alert-warning">
  Remember to check citations for accuracy before including them in your work.
</div>
