<%= render Blacklight::System::ModalComponent.new do |component| %>
<% component.title { t('blacklight.tools.citation') } %>

<% if @response.documents.one? %>
  <%= render partial: "catalog/single_citation", locals: { document: @response.documents.first } %>
<% else %>
  <%= render "catalog/grouped_citations" %>
<% end %>

<div class="modal-footer justify-content-start pl-0">
  <p>Remember to check citations for accuracy before including them in your work.</p>
</div>

<% end %>
