<% if query_has_constraints? %>

      <div id="appliedParams" class="clearfix constraints-container">
        <div class="pull-left">
          <%=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink btn btn-sm", :id=>"startOverLink" %>
        </div>
        <%= render_constraints(params) %>
      </div>
<% end %>
