    <div class="form-group">
      <label class="control-label col-sm-2" for="to">
        <%= t('blacklight.email.form.to') %>
      </label>
      <div class="col-sm-10">
        <%= email_field_tag :to, params[:to], class: 'form-control' %>
      </div>
    </div>
