
<div class=" card grouped-citations">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a class="nav-link" href="#titles" aria-controls="titles" role="tab" data-toggle="tab">By title</a>
      </li>
      <li class="active nav-item" role="presentation">
        <a class="nav-link active " href="#biblio" aria-controls="biblio" role="tab" data-toggle="tab">By citation format</a>
      </li>
    </ul>
  </div>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="titles">
      <% @documents.each do |document| %>
        <%= render partial: "catalog/single_citation", locals: { document: document } %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane active" id="biblio">
      <% grouped_citations(@documents).each do |format, citations| %>
        <% unless format == "NULL" %>
          <h4 class="citation-type"><%= citation_labels(format) %></h4>

          <% citations.each do |citation| %>
            <%= citation %>
          <% end %>
        <% end %>
        <% if format == "NULL" %>
          <p class="p-4">No format citations are available.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
