<div class="online-list-item">
  <%= link_to("HathiTrust Digital Library", build_hathitrust_url(document), target: "_blank", class: "hathitrust-link") %>
  <p class="font-weight-bold electronic-notes"><%= t("blacklight.hathitrust_text_html", href: link_to(t("blacklight.hathitrust_href"), t("blacklight.hathitrust_link"))) %></p>
</div>
