<div class="row button-break"></div>
<button class="btn online-btn collapsed collapse-button" data-toggle="collapse" data-target="#online-document-<%=  document.id %>" id="online-<%=  document.id %>">
  <span class="avail-label" aria-expanded="false">Available online</span>
</button>
<div id="online-document-<%= document.id %>" class="collapse online_resources online-list">
  <div class="list_elec_links search_results_table w-100 border border-dark-blue border-bottom-0">
    <%= links %>
    <span class="border-bottom"></span>
  </div>
</div>
