<% doc_presenter = show_presenter(document) %>

<table class="holdings-summary-table table table-responsive border-bottom">
    <thead class="table-heading">
      <tr>
        <th colspan="5">Holdings Summary</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row"><%= holdings_summary_information(document) %></td>
        </tr>
    </tbody>
</table>
