<div class="page-header row">
  <h2 class="col-md-8 page-heading">Try our new beta Library Search</h2>
</div>

<div id="getting-started">
  <h3 class='section-heading'>Based on user feedback, Temple University Libraries is in the process of building an enhanced version of the Library Search. This is still under development, as we continue develop and add new features through spring 2018. Try out the new beta and let us know what you think at asktulibrary@temple.edu!</h3>
</div>
