<div id="getting-started">
  <p class="section-heading"><%= t("blacklight.section_heading_html") %></p>
  <p>
    <%= link_to(t("bento.more_information_html"), t("bento.more_information_link"), target: "_blank") %><%= t("blacklight.more_information_books") %>
  </p>
  <%= render "search/query_list" %>
</div>
