<div class="page-header row">
  <h2 class="jumbotron-heading"><%= t('blacklight.greeting') %></h2>
  <h2 class="col-md-8 page-heading"></h2>
</div>

<div id="getting-started">
  <p class='section-heading'><%= t('blacklight.introduction') %></p>
</div>
