<div class="page-header row">
  <h2 class="col-md-8 page-heading jumbotron-heading"><%= t('blacklight.greeting') %></h2>
</div>

<div id="getting-started">
  <p class='section-heading'><%= t('blacklight.introduction') %></p>
  <p class='section-heading'><%= string_with_link(t("blacklight.introduction_html"), t("blacklight.href_link")) %></p>
</div>
