<div id="getting-started">
  <p class="section-heading"><%= t("blacklight.section_heading_html",
    scrc: link_to(t("blacklight.scrc"), t("blacklight.scrc_link"), target: "_blank"),
    blockson: link_to(t("blacklight.blockson"), t("blacklight.blockson_link"), target: "_blank"),
    journals: link_to(t("bento.journals"), search_journals_path),
    books: link_to(t("bento.books"), search_books_path)) %></p>
</div>
