<% doc_presenter = document_presenter(document) %>
<div class="row show-page-list summary-preview-container">
  <% doc_presenter.each_summary_field do |field_name, field, field_presenter| %>
    <% rendered = Array.wrap(field_presenter.render).reject { |value| value.blank? }.map { |rendered| field_presenter.field_config[:raw] ? raw(rendered) : rendered } %>
      <% if rendered.length == 1 %>
        <div class="blacklight-<%= field_name.parameterize %> summary-previews pt-2 px-3"><%= safe_join(Array.wrap(rendered)) %></div>
      <% elsif rendered.length > 1 %>
        <div class="blacklight-<%= field_name.parameterize %> summary-previews pt-2"
          <ul>
          <% rendered.each do |value| %>
            <li class="list_items"> <%= safe_join(Array.wrap(value)) %> </li>
          <% end %>
          </ul
        </div>
      <% end -%>
  <% end -%>
</div>
