<% doc_presenter = document_presenter(document) %>

<%= render "index_summary_field", :document => document %>

<div class="document-info-container clearfix flex-row-reverse " data-controller="book-covers">

  <%# default partial to display solr document fields in catalog index view %>
  <%= render "fields", document:, document_counter:  %>
  <%= render_availability(document) %>
</div>
</div>
