<div class="lib-guides-recommender-catalog w-100 my-3 px-3">
  <div class="lib-guides-recommender-catalog-body rounded-top">
    <h2 class="lib-guides-recommender-catalog-heading text-cherry-red mb-0">Help &amp; Guides</h2>
    <div class="d-flex justify-content-between pt-md-1 pb-md-4 px-md-4 catalog-guides" data-lib-guides-target="card">
      <div class="lib-guides-recommender-librarians flex-fill p-4 rounded" data-lib-guides-target="flex">
        <h3 class="lib-guides-recommender-heading lib-guides-recommender-catalog-heading">Subject Librarians</h3>
      </div>

      <div class="lib-guides-recommender-guides flex-fill p-4 rounded ml-md-4" data-lib-guides-target="flex">
        <h3 class="lib-guides-recommender-heading">Research Guides</h3>
      </div>
    </div>
  </div>
</div>
