<div class="panel-body online-panel">
  <table id="record-page-online" class="table table-responsive border-bottom">
    <h5 class="online-panel-heading">Online</h5>
    <% online_resources.each do |value| %>
      <tr><%= safe_join([value]) %></tr>
    <% end %>
  </table>
</div>
