<% if has_one_electronic_resource?(document) %>
  <%= link_to "Online", single_link_builder(document["electronic_resource_display"].first), class:"collapse-button btn btn-sm btn-info", title:"This link opens the resource in a new tab.", target:"_blank" %>
<% elsif has_many_electronic_resources?(document) %>
  <div class="row button-break"></div>
  <button class="btn-block btn btn-sm btn-info collapsed collapse-button" data-toggle="collapse" data-target="#online-document-<%=  document_counter %>">
    <span class="avail-label" aria-expanded="false">Online</span>
  </button>
  <div id="online-document-<%= document_counter %>" class="collapse online_resources">
    <table class="list_elec_links search_results_table">
      <%= links %>
      <span class="border-bottom"></span>
    </table>
  </div>
<% end %>
