<div class="row button-break"></div>
<button class="btn btn-sm btn-danger collapsed collapse-button" data-toggle="collapse" data-target="#online-document-<%=  document.id %>" id="many_links_online">
  <span class="avail-label" aria-expanded="false">Request Rapid Access</span>
</button>
<div id="online-document-<%= document.id %>" class="collapse online_resources">
  <table class="list_elec_links search_results_table">

    <%= link %>

    <div class="availability"><%= t("purchase_order_allowed") %></div>

    <span class="border-bottom"></span>
  </table>
</div>
