<% if key == "SCRC" %>
  <div id="scrc-instructions" class="alert alert-info rounded-0 pl-3" role="alert">
    <p class="mb-0"><%= t("requests.scrc_instructions_html", href: link_to(t("requests.scrc_instructions_href"), aeon_request_url(document))) %></p>
  </div>
<% end %>
