<div id="scrc-instructions" class="alert alert-info pl-3" role="alert">
  <p class="mb-0"><%= t("requests.scrc_instructions_html", href: link_to(t("requests.scrc_instructions_href"), aeon_request_url(document))) %></p>
</div>
