<%= render(Blacklight::SearchBarComponent.new(
      url: search_action_url,
      params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8, :q_1, :q_2, :q_3, :f_1, :f_2, :f_3, :operator, :op_1, :op_2),
      search_fields: Deprecation.silence(Blacklight::ConfigurationHelperBehavior) { search_fields },
      presenter: presenter)) %>

<div class="d-inline-flex justify-content-around search-right-links align-items-center flex-wrap">
  <%= render "advanced_search_link" %>
  <%= render_bookmark_partial %>

  <% if has_user_authentication_provider? %>
    <%= render 'shared/nav_bar_login_links' unless login_disabled? %>
  <% end %>
</div>
