<% doc_presenter = show_presenter(document) %>
<%# partial to display availability details in catalog show view -%>
<div class="col-sm-12">
<div id="record-view-iframe"  class="panel panel-default">
  <div class="availability-panel-heading panel-heading">
    <h4 id="availability-heading">Availability</h4>
  </div>


  <% if document.fetch("availability_facet", []).include?("Online") %>
    <% document_show_fields(document).each do |field_name, field| %>
    <% if field_name == 'electronic_resource_display' %>

      <div class="panel-body online-panel">
        <h5 class="online-panel-heading">Online</h5>
          <table class="record_page_elec_links">
            <% values = Array.wrap(doc_presenter.field_value field_name) %>
            <% values.each do |value| %>
            <tr>
              <td class="list_items"> <%= safe_join(Array.wrap(value)) %> </li>
            </tr>
            <% end %>
          </table>
      </div>
      <% end %>
    <% end %>
  <% end %>

  <% if document.fetch("availability_facet", []).include?("At the Library") %>
    <div data-controller="show" data-show-url="<%= item_url(document.id) %>" class="physical-holding-panel panel-body">
      <div data-target="show.panel" class="panel-content" >
        <div data-target="show.spinner" class="spinner">
          <span class="glyphicon glyphicon-refresh glyphicon-spin" role="spinbutton"></span>
          Loading Availability
        </div>
      </div>
  <% end %>
  <% if aeon_request_button(document) %>
    <%= render "aeon_request", :document => document %>
  <% end %>
</div>
</div>
