<% doc_presenter = show_presenter(document) %>
<%# partial to display availability details in catalog show view -%>
<div class="col-sm-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 id="availability-heading">Availability</h4>
  </div>


  <% if document.fetch("availability_facet", []).include?("Online") %>
    <% document_show_fields(document).each do |field_name, field| %>
    <% if field_name == 'electronic_resource_display' %>

      <div class="panel-body online-panel">
        <h5>Online</h5>
        <dd class="blacklight-<%= field_name.parameterize %>">
          <ul>
            <% doc_presenter.configuration.show_fields.fetch(field_name)[:helper_method] %>
            <% values = Array.wrap(doc_presenter.field_value field_name) %>
            <% values.each do |value| %>
              <li class="list_items"> <%= safe_join(Array.wrap(value)) %> </li>
            <% end %>
          </ul>
        </dd>
      </div>
      <% end %>
    <% end %>
  <% end %>

  <% if document["availability_facet"].include?("At the Library") %>
    <div class="availability_iframe physical-holding-panel panel-body">
      <h5>In Library</h5>
      <iframe class="bl_alma_iframe" src="<%= alma_app_fulfillment_url(document) %>"></iframe>
    </div>
  <% end %>
  <%= render "aeon_request", :document => document %>
</div>
</div>
