<% doc_presenter = document_presenter(document) %>
<dl class="row document-metadata mb-0 show-page-list mb-3">
  <% doc_presenter.each_primary_field do |field_name, field, field_presenter| %>
    <%= render "show_fields", document: document, field: field, field_name: field_name, field_presenter: field_presenter %>
  <% end -%>
</dl>

<div id="related-items-link" class="hidden">
  <a class="font-weight-bold" href="#record-page-query-lists"><%= t("query_list.browse_link") %></a>
  <hr />
</div>
