<div class="cite-modal p-2">
  <h3 class="modal-title citation-title"><%= document_heading(document) %></h3>
  <% document.citations.each do |format, citation| %>
    <% unless format == "NULL" %>
      <h4 class="citation-type"><%= citation_labels(format) %></h4>
    <% end %>
    <%= citation %>
  <% end %>
</div>
