<div id="documents" class="noresults mt-4 bg-white rounded">
  <h2 class="no-results-header"><%= t("blacklight.zero_results.title_html") %></h2>

  <%= render "search_suggestions" %>
  <%= render "other_library_options" %>
</div>
