
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title"><%= t('blacklight.search.librarian_view.title') %></h3>
</div>

<%= @marc_view.each { |view| view } %>
