<div class="modal-header">
  <%= link_to t("blacklight.search.back"), "../#{@document.id}", :class =>"pull-right" %>
  <h3 class="modal-title"><%= t('blacklight.search.librarian_view.title') %></h3>
</div>

<%= render_marc_view %>
