<div class="modal-header">
  <h1 class="modal-title"><%= t('blacklight.message.form.title') %></h1>
  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <%= render partial: '/flash_msg' %>
  <span data-blacklight-modal="close"></span>
</div>
