<div class="modal-header">
	<h1 class="modal-title"><%= t('blacklight.message.form.form_title') %></h1>
	<button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= render :partial => 'sms_form' %>
<span data-blacklight-modal="close"></span>
