<h1>Log in to My Library Account</h1>

<ul>
<%- if devise_mapping.omniauthable? %>
<li>
  <%= link_to "Students, Faculty, and Staff" , omniauth_authorize_path(resource_name, :shibboleth) %>
</li>
<% end -%>

<li>Visitors (Coming Soon)</li>
</ul>