<div class="panel panel-default request-heading">
  <div class="panel-heading">
    <h4 class="panel-title">
        <a class="booking-request accordian-toggle"  data-toggle="collapse" data-parent="#request-accordian-<%=  @mms_id %>" href="#collapseThree-<%= @mms_id %>">Request booking</a>
    </h4>
  </div>

  <div id="collapseThree-<%= @mms_id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <h5 class="request-header">Details of title you requested:</h5>
      <%= render "booking_request_form" %>
    </div>
  </div>
</div>
