<p>This item cannot be requested from other Temple campuses.</p>

<div class="panel panel-default request-heading">
  <div class="panel-heading">
    <h4 class="panel-title">
        <a class="booking-request" href="<%= request_options.ez_borrow_link %>"  target="_blank">Request item from another library</a>
    </h4>
  </div>
</div>
