@import "_vars.scss";

/* === ADVANCED SEARCH === */
h2.advanced {
  font-family: "PT Sans";
  font-size: 1.875rem;
}

.constraints h4 {
  font-family: "PT Sans";
  font-size: 1.125rem;
  font-weight: bold;
}

.control-label {
  font-weight: bold;
}

a.advanced-search-start-over:link, a.advanced-search-start-over:visited, a.advanced-search-start-over:focus, a.advanced-search-start-over:hover {
  border-color: $light-grey;
}

.submit-buttons {
  justify-content: flex-end;
  margin-right: 0.625rem;

  @media(max-width: 768px) {
		margin-top: 0.625rem;
	}
}

.advanced-filters .filter-name {
  color: #595959;
  margin-right: 0.125rem;
}
