@import "_vars.scss";

/* === GENERAL AVAILABILITY === */

/* === RECORD PAGE AVAILABILITY === */
#record-page-online td,
#availability-container td,
#availability-container th {
  border-color: $tan-border;
}

#availability-container td:last-child {
  border-right: 0.0625rem solid $tan-border;
}

#availability-heading {
  color: $red;
  display: inline-block;
  font-family: "PT Sans";
  font-size: 1.125rem;
}

#heading-request {
  display: inline-block;
}

.online-list-items {
  display: list-item;
  list-style-type: none;
}

#record-page-online {
  text-align: left;
}

.online-card-heading, .table-heading {
  background-color: $tan;
  color: $black;
  font-size: 0.875rem;
  font-weight: bold;
  height: 2.5rem;
  padding: 0.75rem;
}

.table-wrapper {
  max-height: 18.75rem;
  overflow-y: auto;
  overflow-x: hidden;

  @media(max-width: 485px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.table-wrapper::-webkit-scrollbar {
  border: 0.0625rem solid $tan-border;
  height: 0.625rem;
  width: 0.625rem;

  @media(max-width: 485px) {
    border: none;
  }
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: gray;
}

#record-view-iframe {
  max-width: 53.125rem;
}

.no-holdings {
  margin-bottom: 0;
}

.other_libraries {

  @media(max-width: 485px) {
    text-align: left;
  }
}

.check-holdings-heading {
  background-color: $tan;
  color: $black;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.75rem;
}

.check-holdings-body {
  padding: 0.625rem;
}

.check-holdings-col {
  display: table-cell;
}

.no-item-info {
  padding: 0.625rem 1.75rem;
}

#availability-container {
  th[headers*="location"] {
    width: 17%;
  }
  td[scope*="row"] {
    width: 10%;
  }
  td[headers*="desc"] {
    width: 25%;
  }
  td[headers*="callnum"] {
    width: 22%;
  }
  td[headers*="note"] {
    width: 7%;
  }
  td[headers*="status"] {
    padding-right: 0.25rem;
    width: 20%;
  }
}

/* === AVAILABILITY BUTTONS === */
button.online-btn.collapse-button {
  margin-bottom: 0;
}

button.btn-warning, button.btn-warning:focus, button.btn-warning:hover, button.btn-warning:active, button.btn-warning:visited {
	background-color: $red;
	border-color: #d43f3a;
	color: $white;
  text-align: center;
  width: 7.5rem;
  span.avail-label.not-available {
  	font-size: 0.8125rem;
		padding: 0.3125rem;
  }
}

button.btn-success, button.btn-success:focus, button.btn-success:hover, button.btn-success:active, button.btn-success:visited {
	background-color: $green;
	color: $white;
	border-color: #224922;
  text-align: center;
  width: 7.5rem;
  span.avail-label.available {
  	font-size: 0.9375rem;
  }
}

/* === INDEX(SEARCH RESULTS) AVAILABILITY === */
td.electronic_links {
  border: 0.0625rem solid $tan-border;
  padding: 0.75rem;
}

.spinner {
  margin-top: 0.625rem;
}

.online-btn, .online-btn:visited, .online-btn:hover, .online-btn:active {
  background-color: $dark-blue;
  color: $white;
  font-size: 0.9375rem;
  margin-bottom: 0.625rem;
  width: 7.5rem;
}

.bl_alma_iframe {
  width: 100%;
}

.index-label {
  color: #595959;
}
