@import "_vars.scss";

/* === GENERAL AVAILABILITY === */
.item-info {
  @media(max-width: 485px) {
    text-align: left;
  }
}

#bookbot-instructions {
  background-color: #d1ecf1;
}

#availability-alert {
  padding: 0.5rem;
}

.avail_status,
.avail-spinner-container {
  @media(max-width: 768px) {
    margin-left: auto !important;
  }
}

.library-name {
  font-size: 0.875rem;
  font-weight: bold;
}

/* === RECORD PAGE AVAILABILITY === */
#availability-heading {
  color: $red;
  display: inline-block;
  font-family: "PT Sans";
  font-size: 1.125rem;
}

#heading-request {
  display: inline-block;
}

.online-list-items {
  display: list-item;
  list-style-type: none;
}

dd .online-list-items {
  border-bottom: none;
  padding: 0;
}

.table-row {
  display: table-row;
}

#record-page-online {
  text-align: left;
}

.online-card {
  border: 0.0625rem solid $dark-blue;
  padding-left: 0;
}

.online-list-items, .online-list-item {
  border-bottom: 0.0625rem solid $dark-blue;
  padding: .5rem;
}

.library-name {
  padding-left: 0;

  @media(max-width: 768px) {
    padding-left: 0;
  }
}

.holdings-summary {
  font-weight: normal;

  @media(max-width: 485px) {
    padding-left: 0.625rem;
  }
}

.table-heading {
  background-color: $header-grey;
  color: $black;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.625rem;
}

.online-card-heading {
  background-color: $dark-blue;
  color: $white;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.625rem;
}

.no-item-info {
  padding: 0.625rem;
}

.avail-info-rows {
  padding: 0.625rem ;
}

/* === AVAILABILITY BUTTONS === */
button.online-btn.collapse-button {
  margin-bottom: 0;
}

.databases-btn,
.databases-btn:focus,
.databases-btn:hover,
.databases-btn:active,
.databases-btn:visited {
  background-color: $dark-blue;
  color: $white;
}

button.btn-warning, button.btn-warning:focus, button.btn-warning:hover, button.btn-warning:active, button.btn-warning:visited {
	background-color: $red;
	border-color: #d43f3a;
	color: $white;
  text-align: center;
  width: 7.5rem;
  span.avail-label.not-available {
  	font-size: 0.8125rem;
  }
}

button.btn-success, button.btn-success:focus, button.btn-success:hover, button.btn-success:active, button.btn-success:visited {
	background-color: $green;
	color: $white;
	border-color: #224922;
  text-align: center;
  width: 7.5rem;
  span.avail-label.available {
  	font-size: 0.9375rem;
  }
}

/* === INDEX(SEARCH RESULTS) AVAILABILITY === */
.spinner {
  margin-top: 0.625rem;
}

.online-btn, .online-btn:visited, .online-btn:hover, .online-btn:active {
  background-color: $dark-blue;
  color: $white;
  font-size: 0.9375rem;
  margin-bottom: 0.625rem;
  width: 7.5rem;
}

.temp-help-btn, .temp-help-btn:visited, .temp-help-btn:hover, .temp-help-btn:active {
  background-color: $dark-blue;
  color: $white;
  font-size: 0.9375rem;
  margin-bottom: 0;
}

.bl_alma_iframe {
  width: 100%;
}

.index-label {
  color: #595959;
}

/* === AEON BUTTON === */
.aeon-request-btn {
  white-space: normal;
  max-width: 18.5rem;
}

.aeon-request {
  @media(max-width: 768px) {
    padding-left: 0;
  }
}
