@import "_vars.scss";

/* === GENERAL AVAILABILITY === */
.item-info {
  @media(max-width: 485px) {
    text-align: left;
  }
}

#bookbot-instructions {
  background-color: #d1ecf1;
}

#availability-alert {
  padding: 0.5rem;
}

.holding-name {
  font-family: "Roboto";
  font-size: 1.1rem;
  margin: 0;

  .location-name {
    font-family: "Roboto Light";
  }
}

.availability-table {
  width: 100%;
}

.call-number-col, .description-col {
  width: 30%;
}

.material-type-col {
  width: 15%;
}

.availability-col {
  width: 25%;
}

.availability-table thead {
  th {
    padding: 0.625rem;
    border-bottom: 1px solid #dee2e6;
  }

  @media(max-width: 768px) {
  display: none;
  }
}

.availability-table td {
  @media(max-width: 768px) {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;

  div {
    padding-bottom: 1rem;
  }
  }
}

/* === RECORD PAGE AVAILABILITY === */

#heading-request {
  display: inline-block;
}

.online-list-items {
  display: list-item;
  list-style-type: none;
}

dd .online-list-items {
  border-bottom: none;
  padding: 0;
}

.table-row {
  display: table-row;
}

#record-page-online {
  text-align: left;
}

.online-card {
  border: 0.0625rem solid $royal-blue;
  padding-left: 0;
}

.online-list-items, .online-list-item {
  border-bottom: 0.0625rem solid $gray-300;
  padding: 1rem;
}

.list_elec_links.search_results_table {
  border-top: 0.0625rem solid $gray-300;
}

.direct-link {
  border-top: 0!important;
}

.holding-summary {
  font-weight: normal;
  padding-top: 0.5rem;

  .summary-label {
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.8rem;
    font-size: 85%;
    font-weight: normal;
  }

  p {
    margin-bottom: 0;
  }

  @media(max-width: 485px) {
    padding-left: 0.625rem;
  }
}

.table-heading {
  background-color: $royal-blue;
  color: $white;
  padding: 1rem;
}

.online-card-heading {
  background-color: $royal-blue;
  color: $white;
  font-family: "Roboto";
  font-size: 1.1rem;
  padding: 1rem;
  margin: 0;
}

.no-item-info {
  padding: 0.625rem;
}

.avail-info-rows {
  padding: 0.625rem ;
}

/* === AVAILABILITY BUTTONS === */
button.online-btn.collapse-button, a.online-btn.collapse-button {
  margin-bottom: 0;
}

button.available,
button.available:focus,
button.available:hover,
button.available:active,
button.available:visited,
.purchase-order,
.online-btn,
.online-btn:visited,
.online-btn:hover,
.online-btn:active,
.databases-btn,
.databases-btn:focus,
.databases-btn:hover,
.databases-btn:active,
.databases-btn:visited {
  background-color: $crystal-blue;
  color: $midnight-blue;
}

button.available, button.available:focus, button.available:hover, button.available:active, button.available:visited {
  width: 10rem;
}

.online-btn, .online-btn:visited, .online-btn:hover, .online-btn:active {
  margin-bottom: 0.625rem;
  width: 10rem;
}

button.btn-warning,
button.btn-warning:focus,
button.btn-warning:hover,
button.btn-warning:active,
button.btn-warning:visited {
	background-color: $cherry-red;
	border-color: #d43f3a;
	color: $white;
  width: 10rem;
}

/* === INDEX(SEARCH RESULTS) AVAILABILITY === */
.spinner {
  margin-top: 0.625rem;
}

.bl_alma_iframe {
  border: 0;
  width: 100%;
}

/* === AEON BUTTON === */
.aeon-request-btn {
  white-space: normal;
  max-width: 18.5rem;
}

.aeon-request {
  @media(max-width: 768px) {
    padding-left: 0;
  }
}

.avail_status-container, .avail-spinner-container {
  width: 25%;
  @media (max-width: 991px) {
    width: 100%;
    padding-left: 15px;
    padding-top: 7px;
  }
}

/* === LIBKEY BUTTON STYLES === */
.libkey-btn,
.libkey-btn:hover,
.libkey-btn:active,
.libkey-btn:visited {
  margin-top: 0.6rem;
  width: 11rem;
}

/* === AVAILABILITY SPECIAL INSTRUCTIONS === */
.alert-info {
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
  color: $midnight-blue;
}
