@import "_vars.scss";

/* BENTO STYLES */
.hero-unit {
	margin-bottom: 28px;
}

.span4 {
	border: solid $light-grey 1px;
	display: inline-block;
	margin-left: 3%;
	vertical-align: top;
	width: 46%;
}

.bento_compartment {
	@media(max-width: 600px) {
		margin: 0 auto 20px auto;
		width: 90%;
	}
}

.bento_compartment h2 {
	background-color: #CECED0;
	border-radius: 10px 10px 0 0;
	color: #2B2E34;
	font-family: "PT Sans";
	font-size: 24px;
	height: 50px;
	margin-top: 0;
	padding: 12px;
}

.bento_compartment h3 {
	font-size: 20px;
	padding-left: 15px;
}

.blacklight-search {
	background-color: #F4F6F5;
}

.bento-search-engine {
	border-radius: 0 0 10px 10px;
	background-color: white;
	margin-top: -10px !important;
}

.bento_search_no_results {
	margin: 15px;
	margin-top: -20px !important;
	padding-bottom: 10px;
}

.bento_search_no_results h3 {
	font-size: 20px;
	padding-top: 15px !important;
}

.bento_item {
	border-bottom: 1px solid #B6B6B9;
	padding-right: 10px;
	padding-top: 10px;
}

.bento_item_title {
	font-size: 14px !important;
	font-weight: bold;
	margin-bottom: 3px;
}

.bento_item_body {
	margin-left: 15px;
}

.authors {
	font-weight: bold;
}

.bento-icon {
	margin: 10px;
}

.total-results,
.online-only {
	background-color: white;
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

.total-results p,
.online-only p {
	color: $red;
	font-weight: bold;
}

.bento-results h2 a,
.bento-results h2 a:hover,
.bento-results h2 a:active {
  color: $black;
}

.total-results a,
.online-only a,
.bento_item_title a {
	text-decoration: underline;
}

.total-results a:hover,
.online-only a:hover,
.bento_item_title a:hover {
	text-decoration: none;
}

.bento-avail-btn {
 	background-color: $dark-blue;
 	color: $white;
 	margin-bottom: 15px;
 	margin-left: 15px;
	padding: 2px 10px;
}

.bento-avail-btn:hover,
.bento-avail-btn:visited {
 	color: $white;
}

.more .online-only, .resource_types .online-only {
  display: none;
}

.bento_item .dl-horizontal dd {
  margin-left: 103px;
}

.bento_item .dl-horizontal dt {
  text-align: left;
  width: 50%;
}

.centered-bento {
	justify-content: center;
}

.explanation-div {
	display: flex;
	margin: 0 auto 20px auto;
	text-align: center;
	@media(max-width: 950px) {
		display: table-row;
		margin: 0 auto;
	}
}

.everything-explanation {
	font-size: 1.1em;
	transform: translateY(-50%);
}

.bento-hide-link {
	display: inline-block;
	font-size: 1.1em;
	margin-left: -400px;
	transform: translateY(-51%);
	text-decoration: underline;
	@media(max-width: 1000px) {
		margin-left: -200px;
	}
	@media(max-width: 950px) {
		margin-left: 0;
	}
}

.noresults a {
	text-decoration: underline;
}

.noresults li {
	margin-left: -15px !important;
}

#documents.noresults {
	border-top: none;
}
