@import "_vars.scss";

/* BENTO STYLES */
.card-columns {
	@include media-breakpoint-only(sm) {
		column-count: 1;
	}
	@include media-breakpoint-only(lg) {
		column-count: 3;
	}
	@include media-breakpoint-only(xl) {
		column-count: 3;
	}
}

.bento_compartment h2 {
	background-color: $header-grey;
	color: $bento-header-text;
	font-family: "Faustina", serif;
	font-size: 1.4rem;
	height: 3.125rem;
	padding: 0.75rem 0;

	a {
		color: $bento-header-text;
		margin-left: -0.3125rem;
	}
}

.bento_compartment h3 {
	font-size: 1.25rem;
	padding-left: 0.9375rem;
}

.bento_item_title {
	font-family: "PT Sans";
	font-size: 0.9375rem !important;
	font-weight: bolder;

	a {
		text-decoration: underline;
	}
}

.authors {
	font-weight: 600;
	margin-top: 0;
}

.bento-avail-btn {
 	background-color: $dark-blue;
 	color: $white !important;
	font-size: 0.75rem;
 	margin-bottom: 0.9375rem;
 	margin-left: 0.9375rem;
	padding: 0.125rem 0.625rem;
}

.search-results {
	border: 1px solid $header-grey;
}

.total-results,
.online-only {
	background-color: white;
	border-bottom: 1px solid $header-grey;
	border-left: 1px solid $header-grey;
	border-right: 1px solid $header-grey;
	color: $red;
	padding: 0.625rem 0.5rem;
}

.bento-resource-types {
	font-family: "PT Sans";
	font-size: 1.4rem;
}

.bento-resource-container {
	margin: 0 9.375rem;

	@media(max-width: 768px) {
		margin: 0 1.2rem;
	}
}

.bento-resource-list-item {
	font-family: "PT Sans";
	font-size: 1.2rem;
	width: 30%;

	a {
		color: $black;
		text-decoration: underline;
	}

	@media(max-width: 991px) {
		width: 40%;
	}

	@media(max-width: 600px) {
		width: 100%;
	}
}
