@import "_vars.scss";

/* BENTO STYLES */
.card-columns {
	@include media-breakpoint-only(sm) {
		column-count: 1;
	}
	@include media-breakpoint-only(md) {
		column-count: 2;
	}
	@include media-breakpoint-only(lg) {
		column-count: 3;
	}
	@include media-breakpoint-only(xl) {
		column-count: 3;
	}
}

.bento_compartment h2 {
	background-color: $lighter-grey;
	color: $midnight-blue;
	font-size: 1.3rem;
	height: 3.125rem;
	padding: 0.75rem 0;

	a {
		color: $midnight-blue;
		margin-left: -0.3125rem;
	}

}

.bento_search_no_results h3, .noresults{
	padding-left: 0.9375rem;
	padding-right: 0.9375rem !important;
}

.bento_item_title {
	font-weight: bold;
  font-size: 0.9rem;
	padding-left: 0.9375rem
}

.authors {
	font-weight: 600;
	margin-top: 0;
}

.bento-avail-btn {
	background-color: $crystal-blue;
	color: $midnight-blue;
	font-size: 0.9rem;
 	margin-bottom: 0.9375rem;
 	margin-left: 0.9375rem;
	padding: 0.125rem 0.625rem;
}

.bento-libkey {
	margin-top: 0.3rem;
	padding: 0.15rem 0.125rem;
	width: 9rem;
}

.search-results {
	border: 1px solid $lighter-grey;
}

.total-items,
.bento-online-results {
	background-color: white;
	border-bottom: 1px solid $lighter-grey;
	border-left: 1px solid $lighter-grey;
	border-right: 1px solid $lighter-grey;
	color: $cherry-red;
	padding: 0.625rem 0.5rem;
}

.bento-resource-types {
	font-size: 1.3rem;
	padding: 1rem 9.375rem;

	@media(max-width: 768px) {
		padding: 2rem;
	}
}

.bento-resource-types-list {
	color: $cherry-red;
	padding: 0 9.375rem;

	@media(max-width: 768px) {
		padding: 2rem;
	}
}

.bento-resource-list-item {
	font-family: "Roboto";
	font-size: 1.2rem;
	width: 30%;

	a {
		text-decoration: underline;
	}

	a:hover, a:visited, a:active {
		color: $cherry-red !important;
	}

	@media(max-width: 991px) {
		width: 40%;
	}

	@media(max-width: 600px) {
		width: 100%;
	}
}
