@import "_vars.scss";

.hero-unit {
	margin-bottom: 28px;
}

.bento_box.row {
	margin-left: 22%;
}

.span4 {
	width: 46%;
	border: solid $light-grey 1px;
	display: inline-block;
	vertical-align: top;
	margin-left: 3%;
}

.bento_compartment h2 {
		background-color: #CECED0;
		border-radius: 10px 10px 0 0;
		color: #2B2E34;
		font-family: "Colfax-Medium";
		font-size: 24px;
		height: 50px;
		padding: 12px;
}

.blacklight-search {
	background-color: #F5F5F5;
}

.bento-search-engine {
	border-radius: 0 0 10px 10px;
	background-color: white;
	margin-top: -10px !important;
}

.bento_search_no_results {
	margin: 15px;
	margin-top: -20px !important;
	padding-bottom: 10px;
}

.bento_search_no_results h3 {
	font-size: 20px;
	padding-top: 15px !important;
}

.bento_item {
	border-bottom: 1px solid #B6B6B9;
	padding-right: 10px;
	padding-top: 10px;
}

.bento_item_title {
	font-size: 14px;
	font-weight: bold;
	margin-left: 15px;
	margin-bottom: 3px;
}

.bento_item_body {
	margin-left: 15px;
}

.authors {
	font-weight: bold;
}

.bento-icon {
	margin: 10px;
}

.total-results,
.online-only {
	background-color: white;
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

.total-results p,
.online-only p,
{
	color: #A50030;
	font-weight: bold;
}

.total-results a,
.online-only a,
.bento_item_title a {
	text-decoration: underline;
}

.total-results a:hover,
.online-only a:hover,
.bento_item_title a:hover {
	text-decoration: none;
}

.bento-avail-btn {
 	background-color: #095780;
 	color: white;
 	padding: 2px 10px;
 	margin-bottom: 15px;
 	margin-left: 15px;
}

.bento-avail-btn:hover,
.bento-avail-btn:visited {
 	color: white;
}

.bento-results {
	margin: 0 5%;
}

.more .online-only {
  display: none;
}
