@import "_vars.scss";

/* BENTO STYLES */

.bento-main-container {
	@media (min-width: 1300px) {
		max-width: 1200px;
	}
	
}

.bento_compartment h2 {
	background-color: $lighter-grey;
	color: $midnight-blue;
	font-size: 1.3rem;
	height: 3.125rem;
	padding: 0.75rem 0;

	a {
		color: $midnight-blue;
		margin-left: -0.3125rem;
	}

}

.bento_compartment_new {
    margin-bottom: 1.5rem;
    .bento-items {
        border: solid #aaa 1px;
        padding: 1.5rem;
		hr {
      border: 0;
      border-top: 2px solid #000;
      opacity: 1;
      margin: 1rem 0; 
		}
		h2 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.75rem;
			margin-bottom: 1.75rem;
			color: $midnight-blue;
			a {
				padding: .5rem;
				color: $midnight-blue;
				background-color: $lighter-grey;
				// font-family: "Roboto Bold";
				font-weight: 900;
			}
			.bento-full-results {
				background-color: $white;
				border: solid $cherry-red 2px;
				color: $cherry-red;
				border-radius: 2rem;
				font-size: 75%;
				padding: .5rem .65rem;
			}
		}
	}
}

.bento-results-grid {
	width: 100%;
}

.bento-results-grid::after {
	content: "";
	display: table;
	clear: both;
}

.bento-grid-left,
.bento-grid-right {
	width: 100%;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.bento-grid-left,
	.bento-grid-right {
		width: calc(50% - 1.5rem);
	}

	.bento-grid-left {
		float: left;
		clear: left;
		margin-right: 1.5rem;
	}

	.bento-grid-right {
		float: right;
		clear: right;
		margin-left: 1.5rem;
	}
}

.bento_item_row {
	margin: 0; 
}

.bento_search_no_results h3, .noresults { 
	padding-left: 0.9375rem;
	padding-right: 0.9375rem !important;
}

.bento_item_title {
	font-size: 1rem;
	line-height: 1.5rem;
	padding-left: 0.9375rem
}

.authors {
	margin-top: 0;
}

.btn.bento-avail-btn {
	background-color: $crystal-blue;
	color: $midnight-blue;
	font-family: "Faustina-Bold"; 
 	margin-bottom: 0;
 	margin-left: 0.9375rem;
	padding: 0.125rem 0.625rem;
}

.bento-libkey {
	margin-top: 0.3rem;
	padding: 0.15rem 0.125rem;
}

.faq-link-section {
	background-color: $lighter-grey;
	padding: 2rem;
	margin: 4rem auto;
	width: 100%;
	border-radius: 0.5rem;
}

.faq-link {
	font-size: 1.5rem;
	font-family: "Faustina", serif;
	font-weight: 600;
	text-decoration: none;
	color: $cherry-red;

	&:hover {
		color: $cherry-red;
		text-decoration: underline;
	}
}

.faq-link-icon {
	width: 32px;
	height: 32px;
}

.search-results {
	border: 1px solid $lighter-grey;
}
.search-results-new {
	border: 0;
	.bento_item {
		border-bottom: 1px solid $light-grey;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}
}

.total-items,
.bento-online-results {
	background-color: white;
	border-bottom: 1px solid $lighter-grey;
	border-left: 1px solid $lighter-grey;
	border-right: 1px solid $lighter-grey;
	color: $cherry-red;
	padding: 0.625rem 0.9375rem;
}

.bento-resource-types, .bento-resource-types-list {
	font-size: 1.3rem;
	padding: 1rem 12%;
	margin-left: -30px;
	margin-right: -30px;
	.no-results {
		margin-top: .5rem;
	}
}

.bento-resource-list-item {
	color: $cherry-red;
	font-family: "Roboto";
	font-size: 1.2rem;
	width: 30%;
	vertical-align: top;

	p {
		color: $midnight-blue;
	}

	a {
		text-decoration: underline;
	}

	a:hover, a:visited, a:active {
		color: $cherry-red !important;
	}

	@media(max-width: 991px) {
		width: 40%;
	}

	@media(max-width: 600px) {
		width: 100%;
	}
}

.libguides-results-container, .resource-types-container-new {
	hr {
		border: 0;
		border-top: 2px solid #000;
		opacity: 1;
		margin: 1rem 0; 
	}
	h2.bento-resource-types {
		font-size: 1.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.75rem;
		margin-left: 0;
		margin-right: 0;
		padding: 0;

		.bento-full-results {
			background-color: $white;
			border: solid $cherry-red 2px;
			color: $cherry-red;
			border-radius: 2rem;
			font-size: 75%;
			padding: 0.5rem 0.65rem;
			font-weight: 700;
			text-decoration: none;
		}
	}
	h3 {
		background: transparent url("noun_book.svg") no-repeat center left;
		padding-left: 1.9rem;
		padding-top: .25rem;
	}
	p {
		padding-left: 1.9rem;
		margin-top: 0.75rem;
	}
	ul.bento-resource-types-list {
		padding-left: 1.5rem;
		padding-right: 0;
		gap: 1.5rem;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.cdm-results-container, .cdm-results-container-new {
  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
		background: none;
		padding: 0;
  }
  a {
    font-size: 1rem;
  }
  .cdm-data {
    max-width: 75%;
    color: $midnight-blue;
    font-size:1rem;
  }
  .cdm-image {
    min-height: 200px;
    max-height: 200px;
    height: 200px;
  }
}

.cdm-results-container-new {
	.no-results {
		margin-top: 3rem;
	}
	hr {
		border: 0;
		border-top: 2px solid #000;
		opacity: 1;
		margin: 1rem 0; 
	}
	hr.pale {
		border: 0;
		border-top: 2px solid #ccc;
		opacity: 1;
		margin: 1rem 0; 
	}
	h2.bento-resource-types {
		font-size: 1.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.75rem;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		.bento-full-results {
			background-color: $white;
			border: solid $cherry-red 2px;
			color: $cherry-red;
			border-radius: 2rem;
			font-size: 75%;
			padding: 0.5rem 0.65rem;
			font-weight: 700;
			text-decoration: none;
		}
	}
	ul.bento-resource-types-list {
		padding: 0;
		padding-left: 2rem;
		padding-top: 1.5rem;
	}
}

.cdm-results-container-new, .resource-types-container-new {
	h2.bento-resource-types {
		margin-top: 5rem;
	}
}
