.bookmark_add,
.bookmark_remove {
  background-color: $tan;
  color: $red;

  @media(max-width: 601px) {
		background-color: $red;
	  color: $white;
	}
}

//
// .nav-tools div.toggle_bookmark input.toggle_bookmark {
//   visibility: hidden!important;
// }
//
// .nav-tools div.toggle_bookmark span {
// 	left:-10px;
//   position:relative;
// }
//
// #bookmarks-sendto {
//   background-color: $white;
// 	display:inline-block;
// }
//
// #bookmarks-sendto button {
// 	background-color: #f1efe7;
//   border: 0;
//   color: $red;
//   padding: 8px 12px;
// }
//
// .clear-bookmarks {
//   color: $white!important;
//   display: inline-block;
// }
//
// .bookmarks-tools #tools-navbar {
//   display:inline-block;
//   padding-left: 14px;
// }
//
// .bookmarks-sort-and-per-page {
// 	margin-bottom: 0;
//   padding: 0;
// }
//
// .bookmarks-back-btn {
// 	background-color: $white;
// 	border-color: #ccc;
// 	color: $red;
//   display: inline-block;
//   margin-left: 15px;
// }
//
// .bookmarks-back-btn:hover {
//   color: $red;
// }
//
