@import "_vars.scss";

/* BOOKMARKS */

.bookmark_add,
.bookmark_remove {
  background-color: $lighter-grey;
  color: $cherry-red;

  @media(max-width: 768px) {
		background-color: $cherry-red;
	  color: $white;
	}
}

.bookmarks-back-btn {

  @media(min-width: 600px) {
    margin-top: -8px;
  }

  @media(max-width: 768px) {
    margin-top: 0;
  }
}

#record-page-container .toggle-bookmark {

  label {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  @media(min-width: 991px) {
    text-align: right;
	}
  @media(max-width: 991px) {
    display: block;

    input {
      position: absolute;
      left: -9999px;
    }
	}
}

#bookmark_button {
  padding-top: 0.25rem;
  padding-bottom: 0.125rem;


  @media(min-width: 768px) {
    text-align: right;
	}
}

#bookmarks-sendto button {

  @media(max-width: 768px) {
    background-color: $cherry-red;
    border: none;
    color: $white;
	}
}
