@import "_vars.scss";

/* BOOKMARKS */
.bookmark-heading {
  font-family: "PT Sans";
  font-size: 2.0rem;
}

.no-bookmarks-message {
  font-family: "PT Sans";
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.refworks-link {
  color: $red;
  padding-left: 1rem;

  @media(max-width: 768px) {
		color: $white;
	}
}

.refworks-link:hover {
  color: $red;
}

a.clear-bookmarks {
  //font-size: 0.875rem;
  margin-left: 0.625rem;
  //margin-top: -0.225rem;
  padding: 0.4725rem 0.625rem 0.4125rem 0.625rem;

  @media(max-width: 601px) {
    margin-left: 0;
	}
}

a.clear-bookmarks {
  color: $white!important;
}

.bookmark_add,
.bookmark_remove {
  background-color: $header-grey;
  color: $red;

  @media(max-width: 768px) {
		background-color: $red;
	  color: $white;
	}
}

.bookmarks-dropdown {
  background-color: $header-grey;
  color: $red;
  font-size: 0.875rem;
  padding: 0.4725rem 0.625rem;

  @media(max-width: 768px) {
    background-color: $red;
    color: $white;
    margin-bottom: 0.125rem;
  }
}

#bookmarks-sendto button {
  background-color: $white;
  border: 0.0625rem solid $header-grey;
}

.toggle-bookmark {
  text-align: right !important;
}

.bookmark-sunset {
  p {
    font-size: 1rem;
  }
  a {
    text-decoration: underline;
  }  
}
