@import "_vars.scss";

/* COLORS */
a, a:hover, a:active, a:visited {
	color: $red;
}

.index_title.document-title-heading {
	a, a:visited, a:hover, a:active {
		color: $red;
	}
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
	background-color: $red;
	border-color: $aged-red;
	color: $white;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus {
	background-color: $red;
	border-color: $red;
}

div#facets .btn-link {
  color: $dark-grey;
}
