@import "_vars.scss";

/* SIDEBAR STYLES(FACETS AND CONSTRAINTS) */
.blacklight-lc_facet, .blacklight-library_pivot_facet {

  .card-body {
    padding-left: 0;
    padding-right: 0;

    > ul > li {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .pivot-facet-spacer-cell {
      display: table-cell;
      width: 1.25rem;
    }

    .pivot-facet-spacer-row:not(:last-child) {
      display: table-row;

      span {
        display: table-cell;
        border-top: 1.25px solid #e5e5e5;
        width: 100%;
        height: 0.3rem;
      }
    }
  }
}

/* APPLIED FILTERS AND PARAMETERS */
#startOverLink {
	color: $white;
  background-color: $dark-blue;
	font-family: "PT Sans";
	font-size: 0.75rem;
	font-weight: 200;
	letter-spacing: 0.0625rem;

	@media(max-width: 767px) {
		font-size: 1.1em;
		margin: auto;
	}
	@media(max-width: 485px) {
		padding: 0.125rem 0.9375rem;
	}
}

#facet-icons {
	float: left;
	height: 3.125rem;
	width: 3.125rem;
}

#facet-filter-icon {
	height: 3.125rem;
	width: 3.125rem;
}

.limit-search-heading {
	font-family: "PT Sans";
	font-size: 1.3rem;

	@media(max-width: 775px) {
		display: none;
	}
}

.limit-search {
	@media(max-width: 775px) {
		background-color: $facet-limit;
	}
}

.small-limit-search-heading {
	font-family: "PT Sans";
	font-size: 1.3rem;
	font-weight: bolder;

	@media(min-width: 776px) {
		display: none;
	}
}


span .remove-constraints {
	background-color: $light-blue;
	border: 0.0625rem solid transparent;
	color: $black;
	width: 20%;

	@media(max-width: 992px) {
		width: 35%;
	}

	@media(max-width: 768px) {
		text-align: right;
		width: 20%;
	}
}

.appliedFilter {
	@media(max-width: 485px) {
		padding: 0 1rem;
	}
}

span.constraint-value {
	background-color: $light-blue;
	border: 0.0625rem solid transparent;
	font-size: 1rem;
	padding: 0.5rem 0.9375rem;
	text-align: left;
	width: 80%;
	white-space: normal;
}

.filter-separator {
	color: $dark-grey;
	padding: 0.125rem;
}

/* FACETS */
.facet-field-heading {
	background-color: $header-grey;
	cursor: pointer;
	padding: 0.3125rem 1.25rem 0.625rem 0.9375rem;
}

.facet-field-heading a {
	color: $black;
	font-size: 1rem;

	@media(max-width: 768px) {
		font-size: .85rem;
	}

	@media(max-width: 485px) {
		font-size: 1rem;
	}
}

.facet-field-heading a:hover {
	color: $red;
}

.facet-limit-active .facet-field-heading {
	background-color: $red;

	a {
		color: $white;
	}
}

.facet-limit-active .collapsed::after,
.facet-limit-active .collapse-toggle::after {
	color: $white !important;
}

.facet-values {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;

  li {
    display: table-row;
  }

  .facet-label {
    display: table-cell;
		padding-bottom: $spacer / 2;

		.selected {
			color: $red;
			font-weight: bold;
			text-decoration: underline;
		}
  }

  .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 5em;
  }

	.remove {
    font-weight: bold;
    padding-left: $spacer / 2;
	}
}

.card-header.collapse-toggle {
  margin-bottom: 0;

  &::after {
		color: $grey;
	  content: "\f054";
	  font-family: "Font Awesome 5 Free";
		font-size: 1.0rem;
	  font-weight: 900;
    float: right;
		padding-top: 0.625rem;
    transform: rotate(90deg);
  }

  &.collapsed {
    border-bottom: 0;

    &::after {
			color: $grey;
      transform: rotate(0deg);
      transition: transform 0.1s ease;
    }
	}
}

#facet-panel-collapse {

	@media(max-width: 485px) {
		margin-bottom: 0.75rem;
	}
}

.more_facets {
	font-weight: bold;
}

/* FACET ICONS */
dd.blacklight-format {
	padding-left: 7px;
}

/* DATE RANGE FACET STYLES */
input[value|="Apply"] {
	color: $white;
	background-color: $dark-blue;
	border-color: $dark-blue;
	font-size: 0.75rem;
	font-weight: 200;
	letter-spacing: 0.0625rem;
	margin-left: 0.3125rem;
	padding: 0.4375rem;
}

input#range_pub_date_sort_begin,
input#range_creationdate_begin {
	margin-right: 0.125rem;
	width: 3.2rem;
}

input#range_pub_date_sort_end,
input#range_creationdate_end {
	margin-left: 0.125rem;
	width: 3.2rem;
}

form.range_limit .form-control {
	padding: 0.3125rem;
}

.range_limit.form-inline {
	justify-content: center;
}

#facet-pub_date_sort {
	padding-left: 0.9375rem;
}

#facet-pub_date_sort .panel-body  {
	padding: 0.3125rem 0.9375rem;
}

ul.missing li span.facet-count {
	width: 3rem !important;
}

/* style for pivot facet's nested list */

.pivot-facet {
  @extend .list-unstyled;
  @extend .py-1;
  @extend .px-4;
  padding-right: 0 !important;
}

.facet-leaf-node {
  padding-left: 1.25rem;
  margin-top: -1.5rem;
}

.facet-toggle-handle {
  margin: 0;
  margin-left: -8px;
  padding: 0;

  &.collapsed {
    .show { display: block; }
    .hide { display: none; }
  }

  .show { display: none; }
  .hide { display: block; }
}
