@import "_vars.scss";

a.facet_select, a.facet_select:active, a.facet_select:visited {
	color: $black;
}
.facet-label span.selected, .facet-values li .selected.facet-count {
	color: $red;
}
.panel-default .panel-heading {
	background-color: $tan;
}
.facet_limit-active .panel-heading {
	background-color: $red;
	color: $white;
}
.glyphicon.glyphicon-remove a {
	color: $black;
}
#appliedParams {
	background-color: $tan;
}
a.catalog_startOverLink {
	color: $red;
}
#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
	color: $red;
}