@import "_vars.scss";

a.facet_select, a.facet_select:active, a.facet_select:visited {
	color: $black;
}
.facet-label span.selected, .facet-values li .selected.facet-count {
	color: $red;
}
.panel-default .panel-heading {
	background-color: $tan;
}
.facet_limit-active .panel-heading {
	background-color: $red;
	color: $white;
}
.glyphicon.glyphicon-remove a {
	color: $black;
}
#appliedParams {
	background-color: transparent;
	padding: 0;
	border: 0;
	btn {
		border-radius: 5px;
	}
	#startOverLink {
		color: #fff;
	  background-color: #337ab7;
	  border-color: #2e6da4;
	  margin-right: 4px;
	}
}
button.btn-warning, button.btn-warning:focus, button.btn-warning:hover, button.btn-warning:active, button.btn-warning:visited {
	background-color: $red!important;
	color: $white!important;
	border-color: #d43f3a!important;
}
button.btn-info, input.btn-info, input.btn-info:focus, input.btn-info:hover, input.btn-info:active, input.btn-info:visited {
    color: #fff!important;
    background-color: #337ab7!important;
    border-color: #2e6da4!important;
}
a.btn-info, a.btn-info:active, a.btn-info:hover, a.btn-info:focus, a.btn-info:visited {
    color: #fff!important;
    background-color: #337ab7!important;
    border-color: #2e6da4!important;
} 
button.btn-success, button.btn-success:focus, button.btn-success:hover, button.btn-success:active, button.btn-success:visited {
	background-color: #3A833A!important;
	color: $white!important;
	border-color: #224922!important;
}

a.catalog_startOverLink {
	color: $red;
}

#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
	color: $red;
}

.facet_limit-active {
	.panel-heading.collapse-toggle.collapsed .panel-title:after {
		color: white;
	}
	.panel-heading.collapse-toggle .panel-title:after {
		color: white;
	}
	.panel-heading.collapse-toggle.collapsed .panel-title:after {
		color: white;
	}
}