@import "_vars.scss";

/* SIDEBAR STYLES(FACETS AND CONSTRAINTS) */
a.facet_select, a.facet_select:active, a.facet_select:visited {
	color: $red;
}

.facet-label span.selected, .facet-values li .selected.facet-count {
	color: $red;
	font-weight: bold;
	text-decoration: underline;
}

.facet-values .facet-label {
	text-indent: 0;
}

.panel-default .panel-heading {
	background-color: $tan;
}

.facet_limit-active .panel-heading {
	background-color: $red;
	color: $white;
}

.glyphicon.glyphicon-remove a {
	color: $black;
}

span.constraints {
	border: 0;
	padding: 0;
	.btn {
		border-radius: 5px;
	}
}

span .remove-constraints {
	background-color: $light-blue;
	border: 1px solid transparent !important;
	color: $black;
	margin-top: 0 !important;
	padding-top: 10px;
	width: 20%;
	@media(max-width: 485px) {
		padding-top: 15px;
	}
}

span.constraint-value {
	background-color: $light-blue;
	border: 1px solid transparent !important;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 15px;
	text-align: left;
	width: 80%;
	white-space: normal !important;
	@media(max-width: 485px) {
		font-size: 14px;
		padding-top: 15px;
  }
}

span.constraints:first-child {
	margin-top: -40px !important;
}

span.constraint-value:hover {
	background-color: $light-blue !important;
	border: 1px solid transparent !important;
}

a.btn.remove-constraints:hover, a.btn.remove-constraints:active, a.btn.remove-constraints:visited, a.btn.remove-constraints:after {
	background-color: $light-blue !important;
	border-left: none !important;
	border: 1px solid transparent !important;
	color: $black !important;
}

#startOverLink {
	color: $white;
  background-color: $dark-blue;
  border-color: #2e6da4;
	font-size: 12px;
	font-weight: 200;
	letter-spacing: 1px;
  margin-right: 4px;
	margin-bottom: 10px;
}

#start_over {
	color: $white;
  background-color: $dark-blue;
  border-color: #2e6da4;
	font-size: 12px;
	font-weight: 200;
	letter-spacing: 1px;
}

.dl-horizontal dd:after {
	clear:both;
}

button.btn-warning, button.btn-warning:focus, button.btn-warning:hover, button.btn-warning:active, button.btn-warning:visited {
	background-color: $red !important;
	border-color: #d43f3a !important;
	color: $white !important;
  span.avail-label.not-available {
  	padding-left: 5px;
  	font-size: 13px;
  }
}

button.btn-success, button.btn-success:focus, button.btn-success:hover, button.btn-success:active, button.btn-success:visited {
	background-color: #3A833A !important;
	color: $white!important;
	border-color: #224922 !important;
  span.avail-label.available {
  	padding-left: 14px;
  	font-size: 15px;
  }
}

a.btn-back-to-search, a.btn-back-to-search:focus, a.btn-back-to-search:hover, a.btn-back-to-search:active, a.btn-back-to-search:visited {
	background-color: $white !important;
	color: $red !important;
	border-color: #ccc;
}

button.collapse-button .avail-label:after {
	color: $white;         /* adjust as needed */
	content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	/* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
}

button.collapse-button.collapsed .avail-label:after {
  /* symbol for "collapsed" panels */
	content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.availability-toggle-details {
  text-align: left;
}

#startOverLink {
	margin-left: -15px;
	padding: 2px 5px;
	width: 100px;
	@media(max-width: 485px) {
		font-family: "PT Sans";
		font-size: 2em;
		height: 70px;
		margin: 4px auto auto -5px;
		padding: 12px 0 0 0;
		width: 70%;
	}
	@media(max-width: 320px) {
		width: 60%;
	}
}

a.catalog_startOverLink {
	color: $red;
}

#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
	color: $red;
}

.facet_limit-active {
	.panel-heading.collapse-toggle.collapsed .panel-title:after {
		color: $white;
	}
	.panel-heading.collapse-toggle .panel-title:after {
		color: $white;
	}
	.panel-heading.collapse-toggle.collapsed .panel-title:after {
		color: $white;
	}
}

#advanced-search-facets {
  margin-top: 14px;
}

.facets-heading {
	margin-left: -15px;
	@media(max-width: 485px) {
		display: none;
	}
}

#applied_params_facet {
	margin-top: -30px;
	width: 100%;
	@media(max-width: 320px) {
		width: 84%;
	}
}

#sidebar {
	background-color: $white;
	border-radius: 5px;
	@media(max-width: 485px) {
		margin: -20px auto 20px auto;
	}
}

input[value|="Apply"] {
	color: $white;
	background-color: #095780;
	border-color: #2e6da4;
	font-size: 12px;
	font-weight: 200;
	letter-spacing: 1px;
	margin-left: 10px;
	padding: 7px 8px;
}

input#range_pub_date_sort_begin {
	margin-right: 2px;
}

input#range_pub_date_sort_end {
	margin-left: 2px;
}

form.range_limit {
	text-align: center;
}
#facet-pub_date_sort {
	padding-left: 15px;
}

#facet-pub_date_sort .panel-body  {
	padding: 5px 20px;
}

span.appliedFilter.constraint {
	display: flex;
	padding-bottom: 6px;
	width: 100% !important;
	@media(max-width: 485px) {
		height: 50px;
		margin-bottom: 20px;
		margin-left: 15px;
		padding: 0;
  }
}

#facets .panel-body {
	padding-left: 5px;
}

.more_facets_link {
	font-weight: bold;
	padding-left: 15px;
}

button.facets-toggle {
	border: none;
	float: left;
	height: 70px;
	width: 70px;
	margin-left: -10px;
	margin-right: 30px;
}

button.facets-toggle.collapsed .facets-toggle:after {
	margin-left: -20px;
	margin-right: 20px;
}

button.facets-toggle:focus, button.facets-toggle:hover, button.facets-toggle:active, button.facets-toggle:visited {
	outline: none !important;
	margin-left: 0;
	margin-right: 20px;
	padding-left: 0;
}

div .top-panel-heading {
	border: none !important;
	padding-top: 10px;
	margin: 0 auto;
}

span.remove-facet-icon, span.open-facet-icon {
	padding-left: 90px;
  padding-bottom: 100px;
  padding-top: 27px;
}
