@import "_vars.scss";

/* FOOTER */
#footer {
	width: 100%;
}

#site-footer {
	background-color:#222222;
	border-top: solid #303030 1.4rem;
	color: $white;
	font-family: droid, sans;
	height: 100%;
	width: 100%;
	a {
		color: #903
	}
	.row {
		background-color:#222222;
		margin-left: 0;
		margin-right: 0;
	}
	.col {
		padding-left: 0;
		padding-right: 0;
	}
	.postscript {
		font-weight: normal;
		padding-left: 1.875rem;
		margin: 0.625rem auto;
		width:100%;
		max-width: 71.25rem;
		.region-postscript-first {
			background:asset-data-url('location.png') no-repeat 0.3125rem 0.5625rem transparent;
			display:inline-block;
			padding-left: 2.625rem;
			width:35%;
			@media only screen and (max-width : 650px) {
		    padding-left: 6%;
		    width: 100%;
    	}
		}
		.region-postscript-second {
			display:inline-block;
			padding-left: 2.5%;
			width:32%;
			ul {
				list-style-type:none;
				li {
					a, a:active, a:focus, a:hover {
						color: $white;
					}
				}
			}
			@media only screen and (max-width : 650px) {
				display: block;
		    margin-bottom: 1.3125rem;
		    padding-left: 6%;
		    width: 100%;
    	}
		}
		.region-postscript-third {
			display:inline-block;
			height: 100%;
			padding-left: 2.5%;
			vertical-align: middle;
			width:32%;
			ul {
				list-style-type:none;
				li {
					a, a:active, a:focus, a:hover {
						color: $white;
					}
				}
			}
			@media only screen and (max-width : 760px) {
		    display: block;
		    padding-left: 2.625rem;
		  }
			@media only screen and (max-width : 650px) {
		    padding-left: 6%;
		    width: 100%;
    	}
		}
		address {
			.place-title {
				font-size: 1.75rem;
			}
			.place-location {
				font-family: droid, sans;
				font-size: 1.3125rem;
			}
		}
	}
	.tu-links {
		background-color: $black;
		border-top: solid #303030 0.125rem;
		clear: both;
		font-size: .9rem;
		font-family: droid, sans;
		padding: 1.5rem 0 1rem 0;
		.region-footer {
			margin: 0 auto;
			max-width: 71.25rem;
			padding-left: 2.5%;
			width: 100%;
		}
		ul {
			list-style-type: none;
			li {
				display: inline;
				line-height: 1.2;
				padding-right: 1.75rem;
				text-decoration: none;
				text-transform: uppercase;
				a {
					color: $white;
				}
			}
		}
	}
}
