@import "_vars.scss";

*{margin:0;box-sizing:border-box;}
body {
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#page-wrapper {
	flex: 1;
}
#site-footer {
	background-color:#222222;
	border-top: solid #303030 1.4rem;
	padding-bottom:0;
	width:100%;
	color:#fff!important;
	font-family: droid, sans;
	margin-top: 32px;
	width: 100%;/*
	height: 310px;*/
	color: #666;
	a {
		color: #903
	}
	.row {
		margin-left: 0;
		margin-right: 0; 
	}
	.col {
		padding-left: 0;
		padding-right: 0;
	}
	.postscript {
		font-weight: normal;
		padding-left: 30px;
		margin:10px auto;
		width:100%;
		max-width:1140px;
		.region-postscript-first {
			padding-left: 2.5%;
			width:35%;
			display:inline-block;
			background:url('http://web.temple.edu/sites/web.temple.edu/themes/web_communication_theme/images/web-communications-footer-icon-location.png') no-repeat 5px 9px transparent;
		}
		.region-postscript-second {
			padding-left: 2.5%;
			width:32%;
			display:inline-block;
			ul {
				list-style-type:none;
				li {
					a, a:active, a:focus, a:hover {
						color: #fff;
					}
				}
			}
		}
		.region-postscript-third {
			padding-left: 2.5%;
			width:32%;
			display:inline-block;
			height: 100%;
			vertical-align: middle;
			ul {
				list-style-type:none;
				li {
					a, a:active, a:focus, a:hover {
						color: #fff;
					}
				}
			}
		}
		address {
			.place-title {
				font-size: 28px;
			}
			.place-location {
				font-size: 21px;
				font-family: droid, sans;
			}
		}
	}
	.tu-links {
		border-top: solid #303030 2px;
		background-color:#000; 
		padding: 24px 0 16px 0;
		clear:both;
		font-size: .9rem;
		font-family: droid, sans;
		.region-footer {
			margin:0 auto;
			width:100%;
			max-width:1140px;
			padding-left:2.5%;
		}
		ul {
			list-style-type:none;
			li {
				display:inline;
				line-height: 1.2;
				text-decoration: none;
				text-transform: uppercase;
				padding-right:28px;
				a {
					color: #fff;
				}
			}
		}
	}
}