@import "_vars.scss";

/* FOOTER */
#site-footer {
  background-color: $lighter-grey;
  color: $midnight-blue;
  font-family: "roboto light";
  height: 100%;
  width: 100%;

  a {
    color: $midnight-blue;
  }

  @media (max-width: 768px) {
    padding-left: 2.8125rem;
  }
}

.tu-links {
  border-top: solid $grey 0.063rem;
  color: $midnight-blue;
  font-size: 1.25rem;
  margin-top: 1.3125rem;
  padding-top: 0.875rem;
  padding-bottom: 3.5rem;
  padding-left: 0.4375rem;

  h2 {
    font-family: "roboto";
    font-size: 1.5625rem;
    margin-bottom: 0.875rem;
    margin-top: 0.875rem;
    padding-inline-start: 0.9375rem;
  }

  ul {
    margin-bottom: 0;
    li {
      color: $midnight-blue;
      padding-left: 0;
      text-decoration: none;

      a {
        color: $midnight-blue;
      }
    }
  }

  .address {
    line-height: 3rem;
    .street-address {
      font-family: "roboto";
      font-weight: 600;
      line-height: 2rem;
      letter-spacing: 1.25px;
    }

    @media (max-width: 768px) {
      border-top: solid $white 0.063rem;
      padding-top: 0.875rem;
    }
  }
}

a.donate {
    background-color: rgb(0, 30, 97);
    font-family: faustina;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255) !important;
    padding: 10px 14px;
    &:hover {
      text-decoration: none !important;
    }
}

a.social {
    background-color: $cherry-red;
    font-family: faustina;
    font-weight: 500;
    font-size: 20px;
    color: $white !important;
    padding: 10px 14px;
    &:hover {
      text-decoration: none !important;
    }
}

.social-footer {
  width: 2.625rem;
  height: 2.625rem;
  max-width: 2.625rem;
  max-height: 2.625rem;
}

// .social-media-list {
//   list-style-type: none;
//   li {
//     display: inline;
//     padding: 0.375rem 0.875rem;

//     @media (max-width: 768px) {
//       padding-inline-start: 0;
//       padding-right: 2.5rem;
//     }
//   }

//   @media (max-width: 768px) {
//     padding-inline-start: 0;
//     padding-top: 0.875rem;
//   }
// }

.footer-header {
  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.diagonal {
  background-color: $lighter-grey;
  margin-bottom: 0;
  #diagonal-line {
    background-color: $lighter-grey;
    position: relative;
    top: -35px;
    height: 91px;
    transform: skewY(-2.5deg);
    @media screen and (min-width: 1599px) {
      top: -55px;
      height: 121px;
    }
  }
}

.diagonal.footer-diagonal {
  margin-top: 10rem;
}
