@import "_vars.scss";

/* BANNER */
div.site-message {
	border-width: 0.125rem !important;
	font-size: 0.875rem;
  padding: 0.625rem 0.625rem 0 0.625rem;
	text-align: center;

	@media(max-width: 485px) {
		padding: auto 0.625rem;
	}
}

/* HEADER WITH LOGO */
#logo-navbar {
	padding-left: 2rem;
	a:hover {
		text-decoration: none !important;
	}
}

.header-logo {
	height: 4.375rem;
}

.logo-text {
	color: $black;
	font-family: "Crimson Text", serif;
	font-size: 2.0rem;
	margin-left: 0.625rem;

	@media(max-width: 485px) {
	 font-size: 1.4rem;
	}
}

/* RED HEADER WITH LIBRARYSEARCH AND USER LINKS */
#red-navbar  {
	height: 3.125rem;
	text-align: center;

	@media(max-width: 992px) {
		justify-content: left;
	}

	@media(min-width:600px) {
		text-align: left;
	}

	@media(max-width: 485px) {
		height: auto;
		justify-content: center;
		padding: 0;
		text-align: center;
 	}
}

#red-navbar a {
	color: $white;
}

#red-navbar h1 {
	padding-left: 0;

	@media(max-width: 768px) {
		padding-left: 0.9375rem;
	}

}

#red-navbar a#catalog-header {
	font-family: "PT Sans";
	font-size: 1.6rem;

	@media(max-width: 485px) {
	 font-size: 1.4rem;
	}
}

ul.user-util-list,
.faq-link {
	justify-content: center;

	@media(min-width:600px) {
		padding: 0.625rem 0 0 0;
	}
}

.user-links {
	a:hover {
		text-decoration: underline;
	}
}

.user-links .nav-link {

	@media(max-width: 485px) {
  	padding: 0;
  }
}

/* HEADER WITH SEARCH INPUT */
#search-navbar .container {
	margin: 0 auto;
	padding-left: 10%;
	padding-right: 10%;

	@media(max-width: 485px) {
  	padding: 0;
  }
}

.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar-form {

	@media(max-width: 991px) {
		padding: 0.3125rem;
	}
}

a.advanced_search {
	color: $red;
	font-weight: bold;
	text-decoration: underline;
}

/* HEADER WITH EVERYTHING/CATALOG TOGGLES */
.path-links {

	@media(max-width: 485px) {
		padding-bottom: 1.75rem;
		padding-top: 1.25rem;
  }
}

.path-links .header-links {
	color: $black;
	display: inline-block;
	font-family: "PT Sans";
	font-size: 1.4rem;

	@media(max-width: 768px) {
		font-size: 1.125rem;
	}

	@media(max-width: 599px) {
		font-size: 1rem;
		padding-right: 0.25em;
	}

	@media(max-width: 485px) {
  	border-radius: 0.3125rem;
		font-size: 1.4rem;
  }
}

.path-links .header-links:hover,
.path-links .header-links.active {
	background-color: $red;
  border-color: $red;
	color: $white;
}

.header-links {

	@media(max-width: 768px) {
 		font-size: 1.125rem;
 	}

 	@media(max-width: 600px) {
 		font-size: 0.875rem;
		margin-top: 0 !important;
		padding-top: 0.625rem;
 	}

 	@media(max-width: 485px) {
		border: 0.0625rem solid $red;
		margin: 0.625rem auto 0 auto !important;
		padding-bottom: 0.625rem;
		padding-top: 0.625rem;
		text-align: center;
		width: 90%;
 		font-size: 1.6rem;
 	}
}

/* RECORD NAV TOOLS */
#start_over,
#back_to_search {
	font-size: 0.875rem;
}

#back_to_search:hover {
	color: $red !important;
}

#record-page-nav-tools {
	padding-top: 1.25rem;

	@media(max-width: 485px) {
		padding-bottom: 0.3125rem;
   	text-align: center;
  }
}

.pagination-search-widgets .page-links {
	padding-top: 0;
}

.search-widgets {

	@media(max-width: 485px) {
		padding-bottom: 1.0rem;
  }
}

.nav-tools li {
  background-color: $tan;
 	border-radius: 0.25rem;
 	display: inline-block;
	list-style-type: none;
 	margin-right: 0.25rem;
}

#sendto button {
 	background-color: $tan;
  border: 0;
  color: $red;
	font-size: 0.875rem;
	padding: 0.4725rem 0.625rem;

	@media(max-width: 768px) {
		background-color: $red;
	  border: 0;
	  color: $white;
		margin-top: 0;
	}
}

.sendto-menu {
  color: $red;
	padding: 0;

	@media(max-width: 768px) {
		background-color: $red;
	  border: 0;
	}
}

.sendto-item a.nav-link {
	padding-bottom: 0;
	@media(max-width: 768px) {
		color: $white;
	}
}

#nav-tools {
	vertical-align: middle;
	@media (max-width: 768px) {
    margin-top: 0.875rem;
	}
}

#tools-navbar {

	@media (max-width: 768px) {
		padding-left: 0;
	}
}

#tools-navbar li, #tools-navbar li a {
	@media (max-width: 768px) {
		background-color: $red;
		color: $white;
		display: block;
		margin-bottom: 0.125rem;
		padding-left: 0.625rem;
		text-align: left;
		width: 100%;
	}
}

#tools-navbar li a:hover {
	@media (max-width: 768px) {
		background-color: $white;
		color: $red;
	}
}

#citeLink {
	color: $red;
	padding: 0.4725rem 0.625rem;

	@media (max-width: 768px) {
		margin-top: 0;
	}
}

/* CITATION MODAL */
.citation-title {
	font-family: "PT Sans";
	font-size: 2.0rem;
	padding-bottom: 1.25rem;
}

.citation-type {
	font-family: "PT Sans";
	font-size: 1.25rem;
}

/* SEARCH RESULTS SORT AND PER PAGE */
#sortAndPerPage {
	justify-content: space-between;
	@media (max-width: 991px) {
		justify-content: center;
	}
}

.page-links {
	display: inline-block;
	padding-top: 0.625rem;
}

#sort-dropdown .dropdown-item,
#per-page-dropdown .dropdown-item {
	color: $black;
}

#sort-dropdown button, #sort-dropdown button:hover,
#per_page-dropdown button, #per_page-dropdown button:hover {
	background-color: $white;
	color: $red;
}
