@import "_vars.scss";

/* BANNER */
div.site-message {
	background: $tan;
	border-width: 2px !important;
	font-size: 0.875rem;
  padding: 0.625rem 0.625rem 0 0.625rem;

	@media(max-width: 485px) {
		padding: auto 10px;
	}
}

/* HEADER WITH LOGO */
#logo-navbar {
	padding-left: 2rem;
	a:hover {
		text-decoration: none !important;
	}
 }

.logo-text {
	color: $black;
	font-family: "Crimson Text", serif;
	font-size: 2.0rem;
	margin-left: 0.625rem;	//  text-decoration: none;

	@media(max-width:485px) {
	 font-size: 1.4rem;
	}
}

/* RED HEADER WITH LIBRARYSEARCH AND USER LINKS */
#red-navbar {
	background-color: $red;
	padding: 0 1rem;
}

#red-navbar a {
	color: $white;
 	background-color: $red;
 	text-align: center;
 	@media(max-width:485px) {
 		margin-top: -1em;
 	}
}

#red-navbar a#catalog-header {
	font-family: "PT Sans";

	@media(max-width:485px) {
	 font-size: 1.4rem;
	}
}

.user-links {
	padding: 0.625rem 0.625rem 0;
	a:hover {
		text-decoration: underline;
	}

	@media(max-width:485px) {
		padding: 0;
	}
}

 // .navbar-right {
 // 	@media(max-width: 991px) {
 // 		margin-top: -50px;
 // 	}
 // 	@media(max-width: 768px) {
 // 		padding-right: 20px;
 // 	}
 // 	@media(max-width: 601px) {
 // 		margin-top: -15px;
 // 	}
 // 	@media(max-width: 485px) {
 // 		float: right;
 //  		left: -50%;
 // 		margin-top: 0;
 // 		padding-right: 0;
 // 		position: relative;
 //  		text-align: left;
 // 	}
 // }
 //
 // .navbar-right ul.navbar-nav  {
 //   display: block;
 // 	@media(max-width: 950px) {
 // 		margin-left: 300px;
 // 	}
 // 	@media(max-width: 750px) {
 // 		margin-left: 250px;
 // 	}
 // 	@media(max-width: 485px) {
 // 		left: 50%;
 // 		margin-left: auto;
 // 		position: relative;
 // 	}
 // }
 //
 // .navbar-right li {
 // 	float: left;
 // 	@media(max-width: 1100px) {
 // 		margin-top: 7px;
 // 	}
 // 	@media(max-width: 850px) {
 // 		margin-top: 5px;
 // 	}
 // }
 //
 // .navbar-right > .nav > li > a {
 // 	color: $white;
 // 	text-decoration: underline;
 // 	@media (max-width: 320px) {
 // 		padding: 7px;
 // 	}
 // }
 //
 // #user-util-collapse .navbar-nav li a, a:visited, a:active {
 // 	background-color: transparent;
 // 	@media(max-width: 485px) {
 // 		margin-top: 0;
 // 	}
 // }

/* HEADER WITH SEARCH INPUT */
#search-navbar {
	background-color: $tan;
	border-bottom: 1px solid $red;
 // 	padding-bottom: 5px;
 // 	padding-top: 15px;
}

#search-navbar .container {
	margin: 0 auto;
	padding-left: 10%;
	padding-right: 10%;

}

.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

 //
 // #search-form-container {
 // 	margin-left: 15%;
 // 	text-align: center;
 // 	@media(max-width: 991px) {
 // 		margin-left: 10%;
 // 		padding-bottom: 5px;
 // 	}
 // 	@media(max-width: 485px) {
 // 		margin-left: 10px;
 // 		padding-bottom: 10px;
 // 		width: 100%;
 // 	}
 // }
 //
 // div #search-form-container form .search_q {
 // 	@media(max-width: 485px) {
 // 		width: 100%;
 // 	}
 // }
 //
 // .form-control:focus {
 // 	box-shadow: 0 0 8px rgba(165, 0, 48, 0.6);
 // }
 //
 // .navbar-form {
 // 	margin-left: -100px !important;
 // 	transform: translateY(-40%);
 // 	@media(max-width: 991px) {
 // 		margin: 20px auto -20px auto;
 // 		transform: translateY(-50%);
 // 	}
 // 	@media(max-width: 768px) {
 // 		margin: 15px auto 0 auto;
 // 		transform: translateY(-50%);
 // 	}
 // 	@media(max-width: 601px) {
 // 		margin: 20px auto -30px auto;
 // 		transform: translateY(-50%);
 // 	}
 // 	@media(max-width: 485px) {
 // 		margin: 0 auto -10px auto !important;
 // 		padding-top: 10px;
 // 		transform: translateY(-1%);
 // 	}
 // }
 //
	a.advanced_search {
		color: $red;
	 	font-weight: bold;
	 	text-decoration: underline;
 }

/* HEADER WITH EVERYTHING/CATALOG TOGGLES */
.path-links .header-links {
	 color: $black;
	 display: block;
	 font-family: "PT Sans";
	 font-size: 1.4rem;

	 @media(max-width: 485px) {
  		border-radius: 5px;
  	}
}

.path-links .header-links:hover,
.path-links .header-links.active {
   background-color: $red;
   border-color: $red;
	 color: $white;
 }

 .header-links {
 	@media(max-width: 768px) {
 		font-size: 18px;
 	}
 	@media(max-width: 600px) {
 		font-size: 14px;
		margin-top: 0 !important;
		padding-top: 10px;
 	}
 	@media(max-width: 485px) {
		border: 1px solid $red;
		margin: 10px auto 0 auto !important;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		width: 300px;
 		font-size: 1.6em;
 	}

	@media(max-width: 320px) {
 		width: 200px;
 	}
 }

/* RECORD NAV TOOLS */
 .cite-modal {
   padding: 14px;
 }

 #record-page-nav-tools {
   float: right;
   padding-right: 60px;
 }

 .nav-tools {
   display: inline-block;
 }

 .nav-tools li {
   background-color: #f1efe7;
   border-radius: 4px;
   margin-right: 4px;
   padding: 7px 14px;
 }

 .nav-tools div.toggle_bookmark {
 	min-height: auto;
   padding-top: 0;
 }

 .nav-tools div.toggle_bookmark label {
   color: $red;
   min-width:auto;
 }

 .nav-tools div.toggle_bookmark input.toggle_bookmark {
   visibility: hidden!important;
 }

 .nav-tools div.toggle_bookmark span {
 	left:-10px;
   position:relative;
 }

 #sendto {
 	display:inline-block;
   margin-top: -14px;
   margin-left: -14px;
   position:absolute;
 }

 #bookmarks-sendto {
   background-color: $white;
 	display:inline-block;
 }

 #sendto button {
 	background-color: #f1efe7;
   border: 0;
   color: $red;
 }

 #bookmarks-sendto button {
 	background-color: #f1efe7;
   border: 0;
   color: $red;
   padding: 8px 12px;
 }

 .clear-bookmarks {
   color: $white!important;
   display: inline-block;
 }

 #sendto-menu {
   background-color: $white;
 }

 #sendto .dropdown-menu {
   background-color: $white;
   width: 111px;
 }

 #bookmarks-sendto .dropdown-menu {
   background-color: $white;
 	left:auto;
   top:auto;
 	width: 111px;
 }

 #sendto ul {
 	background-color: $white;
   float:none;
   position:relative;
 }

 .sendto-item {
 	background-color: $white!important;
   color: $red !important;
 	display:block;
   margin-left: 0;
   width: 100%;
 }

 .sendto-item a {
 	clear: both;
   font-weight: normal;
   line-height: 2em;
 	padding: 3px 20px;
 }

 #refworks-form input[type="submit"] {
 	border: none !important;
 	background-color: $white;
 	margin-left: 8px;
 }

 .sendto-item a, .sendto-item a:hover, .sendto-item a:focus {
 	background-color: $white !important;
   color: $red !important;
 }

 div.navbar-form {
   display:inline-block;
   padding-top: 8px;
 }

 ul.navbar-nav {
   margin: auto auto;
 }

 .bookmarks-tools #tools-navbar {
   display:inline-block;
   padding-left: 14px;
 }

 .bookmarks-sort-and-per-page {
 	margin-bottom: 0;
   padding: 0;
 }

 #tools-navbar li, #tools-navbar li a {
   display: inline-block;
 }

 .blacklight-primo_central.blacklight-primo_central-show li.citation {
   display:none !important;
 }

 .bookmarks-back-btn {
 	background-color: $white;
 	border-color: #ccc;
 	color: $red;
   display: inline-block;
   margin-left: 15px;
 }

 .bookmarks-back-btn:hover {
   color: $red;
 }

 .grouped-citations {
   padding: 15px;
 }

 .citation-btn {
 	background-color: #f1efe7;
   border: 0;
 	border-radius: 5px;
   color: $red;
   padding: 8px 12px;
 }

 #sortAndPerPage {
   background-color: $white;
   border-radius: 5px;
   margin: 0;
   padding: 20px;
 	@media(max-width: 485px) {
 		text-align: center;
   }
 }

 #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
   color: $red;
 }
