@import "_vars.scss";

/* HEADER WITH LOGO */
#header-wrapper {
  background-color: $cherry-red;
  margin-right: 0;
}

#logo-navbar {
  background-color: $cherry-red;
  padding-bottom: 1.313rem;

	@media(max-width: 485px) {
		padding-left: 0;
	}

	a:hover {
		text-decoration: none !important;
	}
}

.header-logo {
	max-width: 5.625rem;
  max-height: 4.8125rem;
  min-width: 5.625rem;
  min-height: 4.8125rem;
}

.logo-text {
	color: $white;
	font-family: "Faustina", serif;
	font-size: 2.0rem;
	margin-left: 0.625rem;

  @media(max-width: 485px) {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
}

/* WEBSITE HEADER */
#website-navbar-container {
  background-color: $dark-cherry-red;
  margin-right: 0;
}
#search-navbar-container {
  background-color: $lighter-grey;
  margin-right: 0;
}

#main-menu {
  background-color: #910C22;
  padding-left: 1.75rem;
  width: 100%;
  ul {
    font-family: "Roboto";
    li {
      padding: 0.5rem 1.3125rem;
      display: inline-block;
      height: 100%;
      a {
        color: $white;
        font-size: 1.25rem;
        @media screen and (max-width: 1039px) {
          font-size:1.25rem;
        }
      }
    }
    li.nav-right {
      @media screen and (min-width: 1040px) {
        float: right;
      }
      padding-left: 3.0625rem;
      border-color: $cherry-red;
      padding-right: 1rem;
    }
    li.nav-right.hours-nav {
      background-image: asset-data-url('hours.png');
      background-position: 0.8rem center;
      background-repeat: no-repeat;
      background-size: 1.625rem 1.625rem;
    }
    li.nav-right.chat-nav {
      background-image: asset-data-url('chat.png');
      background-position: 0.8rem center;
      background-repeat: no-repeat;
      background-size: 1.625rem 1.625rem;
    }
    li.nav-right.account-nav {
      background-image: asset-data-url('person.png');
      background-position: 0.8rem center;
      background-repeat: no-repeat;
      background-size: 1.625rem 1.625rem;
    }
  }
}

/* HEADER WITH SEARCH INPUT */
#catalog-header {
	font-family: "Roboto Condensed";
	font-size: 1.7rem;
	font-weight: 200;
	color: $midnight-blue;

	@media(max-width: 485px) {
	  font-size: 1.4rem;
	}
}

#search-navbar {
	@media(max-width: 485px) {
		padding: 0;
	}
}

.navbar-form,
#bookmarks_nav,
.user-logout {
	font-size: 1rem;
	width: auto;

	@media(min-width: 1044px) {
		padding-left: 2rem;
	}
	@media(max-width: 1043px) {
		padding-left: .5rem;
	}

	@media(max-width: 991px) {
    padding-top: 10px;
    padding-left: 1.5rem;
	}
}

div #bookmarks_nav {
	@media(max-width: 485px) {
		padding-left: .3rem;
	}
}

a.advanced_search,
a#bookmarks_nav {
	color: $cherry-red;
}

.basic-search-group{
	width: 28.125rem;

	@media(max-width: 485px) {
		width: 20rem;
	}
}

.search-right-links {
	@media(max-width: 485px) {
		width: 95%;
	}
}

/* HEADER WITH EVERYTHING/CATALOG TOGGLES */
.path-links {

	@media(max-width: 485px) {
		padding-bottom: .875rem;
		padding-top: .3rem;
  }
}

.path-links .header-links {
	color: $midnight-blue;
	display: inline-block;
	font-family: "Roboto Condensed";
	font-size: 1.4rem;

	@media(max-width: 768px) {
		font-size: 1.125rem;
	}

	@media(max-width: 700px) {
		font-size: 1.0rem;
	}

	@media(max-width: 620px) {
		font-size: 0.75rem;
	}

	@media(max-width: 485px) {
  	border-radius: 0.3125rem;
		font-size: 1.2rem;
  }
}

.path-links .header-links:hover,
.path-links .header-links.active {
	background-color: $cherry-red;
  border-color: $cherry-red;
	color: $white;
}

.header-links {

	@media(max-width: 768px) {
 		font-size: 1.125rem;
 	}

 	@media(max-width: 600px) {
 		font-size: 0.875rem;
		margin-top: 0 !important;
		padding-top: 0.625rem;
 	}

 	@media(max-width: 485px) {
		border: 0.0625rem solid $cherry-red;
		margin: 0.625rem auto 0 auto !important;
		padding-bottom: 0.1875rem;
		padding-top: 0.1875rem;
		text-align: center;
		display: flex;
 	}
}

/* RECORD NAV TOOLS */
#start_over,
#back_to_search {
	background-color: $royal-blue;
	margin-right: 0.625rem;

	@media(max-width: 485px) {
		font-size: 1.1rem;
		padding: 0.3125rem 1.25rem;
	}
}

#back_to_search {
	background-color: $white;
	border: 0.0625rem solid $dark-grey;
}

#back_to_search:hover {
	color: $cherry-red !important;
}

#record-page-nav-tools {

	@media(max-width: 485px) {
		padding: 0 0.3125rem;
   	text-align: center;
  }
}

.search-widgets {

	@media(max-width: 485px) {
		align-items: center;
		padding: 0.625rem;
		text-align: center;
		width: 100%;
  }
}

/* SEARCH RESULTS SORT AND PER PAGE */
#sortAndPerPage {
	justify-content: space-between;
	border-bottom: none !important;
	margin-bottom: 0;
	padding-bottom: 0;
}

.page-links {
	display: inline-block;
}

#sort-dropdown .dropdown-item,
#per-page-dropdown .dropdown-item {
	color: $midnight-blue;
}

#sort-dropdown button, #sort-dropdown button:hover,
#per_page-dropdown button, #per_page-dropdown button:hover {
	background-color: $royal-blue;
	color: $white;
}

.site-message {
  background-color: $pale-yellow;
  height: auto;
  vertical-align: middle;
  font-size: 1.25rem;
  padding: 0.438rem;
  font-family: "Roboto";
  p {
	  margin-bottom: 0;
	  margin-top: 6px;
	  a {
	    text-decoration: underline;
	  }
  }
  img {
	  display: inline-block;
	  height: 2.625rem;
	  float: left;
	  margin-right: 0.625rem;
  }
}
