@import "_vars.scss";

/* HEADER WITH LOGO */
#logo-navbar {
	padding-left: 3.75rem;

	@media(max-width: 485px) {
		padding-left: 0;
	}

	a:hover {
		text-decoration: none !important;
	}
}

.header-logo {
	max-width: 5.625rem;
  max-height: 4.8125rem;
  min-width: 5.625rem;
  min-height: 4.8125rem;
}

.logo-text {
	color: $black;
	font-family: "Faustina", serif;
	font-size: 2.0rem;
	margin-left: 0.625rem;

	@media(max-width: 485px) {
		font-size: 2.2rem;
	 line-height: 2.4rem;
	}
}

/* WEBSITE HEADER */
#main-menu {
	padding-left: 3.75rem;
	width: 100%;
	ul {
		font-family: "Roboto Condensed";
		li {
			padding: 0.5rem 1.3125rem;
			display: inline-block;
			height: 100%;
				a {
					color: $white;
					font-size: 1.3rem;
					font-weight: 600;
					@media screen and (max-width: 1039px) {
						font-size:1.25rem;
					}
				}
			}
			li.nav-right {
				@media screen and (min-width: 1040px) {
					float: right !important;
				}
				padding-left: 3.0625rem;
				border-color: $red;
				padding-right: 1rem;
			}
			li.nav-right.hours-nav {
				background-image: asset-data-url('hours.png');
				background-position: 0.4375rem center;
				background-repeat: no-repeat;
				background-size: 2.625rem 2.625rem;
			}
			li.nav-right.chat-nav {
				background-image: asset-data-url('chat.png');
				background-position: 0.4375rem center;
				background-repeat: no-repeat;
				background-size: 3.0625rem 3.6875rem;
			}
			li.nav-right.account-nav {
				background-image: asset-data-url('person.png');
				background-position: 0.4375rem center;
				background-repeat: no-repeat;
				background-size: 2.625rem 2.625rem;
			}
		}
	}

/* HEADER WITH SEARCH INPUT */
#catalog-header {
	font-family: "Roboto Condensed";
	font-size: 1.7rem;
	font-weight: 200;
	color: $black;

	@media(max-width: 485px) {
	 font-size: 1.4rem;
	}
}

#search-navbar {
	@media(max-width: 485px) {
		padding: 0;
	}
}

.navbar-form,
#bookmarks_nav,
.user-logout {
	font-size: 1rem;
	padding-left: 2rem;
	width: 10rem;

	@media(max-width: 990px) {
		padding: 1rem;
		width: auto;
	}

	@media(max-width: 485px) {
		padding: .3rem;
	}
}

div #bookmarks_nav {
	@media(max-width: 485px) {
		padding: .3rem;
	}
}

a.advanced_search,
a#bookmarks_nav {
	color: $red;
}

.basic-search-group{
	width: 28.125rem;

	@media(max-width: 485px) {
		width: 20rem;
	}
}

.search-right-links {
	@media(max-width: 485px) {
		width: 95%;
	}
}

/* HEADER WITH EVERYTHING/CATALOG TOGGLES */
.path-links {

	@media(max-width: 485px) {
		padding-bottom: .875rem;
		padding-top: .3rem;
  }
}

.path-links .header-links {
	color: $black;
	display: inline-block;
	font-family: "Roboto Condensed";
	font-size: 1.4rem;

	@media(max-width: 768px) {
		font-size: 1.125rem;
	}

	@media(max-width: 700px) {
		font-size: 1.0rem;
	}

	@media(max-width: 620px) {
		font-size: 0.75rem;
	}

	@media(max-width: 485px) {
  	border-radius: 0.3125rem;
		font-size: 1.2rem;
  }
}

.path-links .header-links:hover,
.path-links .header-links.active {
	background-color: $red;
  border-color: $red;
	color: $white;
}

.header-links {

	@media(max-width: 768px) {
 		font-size: 1.125rem;
 	}

 	@media(max-width: 600px) {
 		font-size: 0.875rem;
		margin-top: 0 !important;
		padding-top: 0.625rem;
 	}

 	@media(max-width: 485px) {
		border: 0.0625rem solid $red;
		margin: 0.625rem auto 0 auto !important;
		padding-bottom: 0.1875rem;
		padding-top: 0.1875rem;
		text-align: center;
		display: flex;
 	}
}

/* RECORD NAV TOOLS */
#start_over,
#back_to_search {
	margin-right: 0.625rem;

	@media(max-width: 485px) {
		font-size: 1.1rem;
		padding: 0.3125rem 1.25rem;
	}
}

#back_to_search {
	background-color: $white;
	border: 0.0625rem solid $dark-grey;
}

#back_to_search:hover {
	color: $red !important;
}

#record-page-nav-tools {
	padding-top: 1.25rem;

	@media(max-width: 485px) {
		padding: 0 0.3125rem;
   	text-align: center;
  }
}

.pagination-search-widgets .page-links {
	padding-top: 0;

	@media(max-width: 485px) {
		padding-top: 0.5rem;
	}
}

.search-widgets {

	@media(max-width: 485px) {
		align-items: center;
		padding: 0.625rem;
		text-align: center;
		width: 100%;
  }
}

.nav-tools li {
  background-color: $white;
 	border-radius: 0.25rem;
 	display: inline-block;
	list-style-type: none;
 	margin-right: 0.25rem;
}

#sendto button {
 	background-color: $white;
  border: 0.0625rem solid $header-grey;
  color: $red;
	font-size: 0.875rem;
	padding: 0.4725rem 0.625rem;

	@media(max-width: 768px) {
		background-color: $red;
	  border: 0;
	  color: $white;
		margin-top: 0;
	}
}

.sendto-menu {
  color: $red;
	padding: 0;

	@media(max-width: 768px) {
		background-color: $red;
	  border: 0;
	}
}

.sendto-item a.nav-link {
	padding-bottom: 0;
	@media(max-width: 768px) {
		color: $white;
	}
}

#nav-tools {
	vertical-align: middle;
	@media (max-width: 768px) {
    margin-top: 0.875rem;
	}
}

#tools-navbar {

	@media (max-width: 768px) {
		padding-left: 0;
	}
}

#tools-navbar li, #tools-navbar li a {
	@media (max-width: 768px) {
		background-color: $red;
		color: $white;
		display: block;
		margin-bottom: 0.125rem;
		padding-left: 0.625rem;
		text-align: left;
		width: 100%;
	}
}

#tools-navbar li a:hover {
	@media (max-width: 768px) {
		background-color: $white;
		color: $red;
	}
}

.nav-tools li {
	@media (max-width: 768px) {
		margin-left: 0.625rem;
	}
}

#citeLink {
	background-color: $white;
	border: 0.0625rem solid $header-grey;
	color: $red;
	padding: 0.4725rem 0.625rem;

	@media (max-width: 768px) {
		background-color: $red;
		border: 0;
		margin-top: 0;
	}
}

/* CITATION MODAL */
.citation-title {
	font-family: "PT Sans";
	font-size: 2.0rem;
	padding-bottom: 1.25rem;
}

.citation-type {
	font-family: "PT Sans";
	font-size: 1.25rem;
}

/* SEARCH RESULTS SORT AND PER PAGE */
#sortAndPerPage {
	justify-content: space-between;
}

.page-links {
	display: inline-block;
	padding-top: 0.625rem;
}

#sort-dropdown .dropdown-item,
#per-page-dropdown .dropdown-item {
	color: $black;
}

#sort-dropdown button, #sort-dropdown button:hover,
#per_page-dropdown button, #per_page-dropdown button:hover {
	background-color: $white;
	color: $red;
}
