/* === INDEX SEARCH RESULTS=== */

.documents-list {
  margin-top: 1rem;
  margin-left: 0;

  .btn:not(.search-results-request-btn) {
    margin-left: 1.5rem;

    @media(max-width: 768px) {
      margin-left: 0;
    }
  }

  .documentHeader {
    margin-right: 0;

    .document-counter {
      width: 4%;
      font-size: 0.95rem;
    }

    .document-header-container {
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      border-bottom: solid #ccc 1px;

      .index_title {
        flex: 1 80%;
        font-size: 1.1rem;
        padding-bottom: 0;
      }
      .index-document-functions {
        display: inline-block;
        label.toggle-bookmark {
          text-align: right;
        }

      }
  }
}

.book_info {
  .document-metadata {
    padding-left: 1.5rem;

    @media(max-width: 768px) {
      margin-left: 0;
      padding-left: 0;
      text-align: left;
    }
    .index-label {
      line-height: 2rem;
      font-weight: 500;
    }
    .availability-locations {
      line-height: 2rem;
    }
  }
}
}

.explantion-wrapper {
  @media(max-width: 600px) {
    padding-left: 0.9375rem;
  }
}

.explanation {
  font-size: 1.1em;
}

dl.blacklight-lc_call_number_display > dd,
dl.blacklight-lc_call_number_display > dt {
  background-color: $lighter-grey;
  width: 100%;
}

dl.blacklight-lc_call_number_display > dt {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

dl.blacklight-lc_call_number_display > dd {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


.page-links {
  @media(max-width: 485px) {
    padding-bottom: 0.5rem;
    text-align: center;
    width: 100%;
  }
}

/* === DATABASE RESULTS=== */
.database-browse-link {
  color: $midnight-blue !important;
  text-decoration: underline;
}

dd.blacklight-format {
  padding-left: 0.4375rem !important;
}

/* === LIB GUIDES RECOMMENDER ===*/
.lib-guides-recommender-catalog-body {
  background-color: #dddddd;

  h2 {
    font-weight: 800;
    padding-left: 2.5rem;

    @media(max-width: 485px) {
      padding: 1rem !important;
      background-color: $cherry-red;
      color: $white !important;
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }
  }

  @media(max-width: 485px) {
    background-color: #ebebe9;
    padding: 0;
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;

    div {
      align-items: left;
      flex-direction: column;
      display: inline-flex;
    }
  }
}

.lib-guides-recommender-librarians,
.lib-guides-recommender-guides {
  background-color: #ebebe9;

  h3 {
    font-weight: 800;
  }

  @media(max-width: 485px) {
    padding: 1rem !important;
  }
}

.lib-guides-recommender-librarians {

  p {
    margin-bottom: 0.5rem;
  }

  @media(max-width: 485px) {
    margin-right: 0;
    border-bottom: 0.0625rem solid $cherry-red !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.lib-guides-recommender-guides {

  ul {
    padding-inline-start: 0px;
  }

  @media(max-width: 485px) {
    margin-left: 0;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
