/* === INDEX SEARCH RESULTS=== */
.explantion-wrapper {
  @media(max-width: 600px) {
    padding-left: 0.9375rem;
  }
}

.explanation {
  font-size: 1.1em;
}

.document-title-heading {
  font-size: 0.875rem;
}

.book_info {
  margin-top: 1.25rem;
}

.book_info dl dd {
  margin-right: 2.8125rem;

  @media(max-width: 768px) {
    margin-right: 2.0rem;
  }
}

.book_info .index-label {
  color: #595959;
  margin-left: 3.75rem;

  @media(max-width: 991px) {
    margin-left: 1.0rem;
  }

  @media(max-width: 768px) {
    margin-left: 0;
    text-align: left;
  }
}

.library-dd {
  margin-right: 2.8125rem;
  padding-left: 0.9375rem;
}
