/* === INDEX SEARCH RESULTS=== */
.documents-list {
  margin-top: 1rem;
}

h3.document-title-heading {
  font-family: "PT Sans";
  font-size: 1.1rem !important;
}

.explantion-wrapper {
  @media(max-width: 600px) {
    padding-left: 0.9375rem;
  }
}

.explanation {
  font-size: 1.1em;
}

.document-title-heading {
  font-size: 0.875rem;
}

.index_title {
  margin-bottom: 0;
}

.book_info .index-label {
  color: #595959;
  margin-left: 3.75rem;

  @media(max-width: 991px) {
    margin-left: 1.75rem;
    padding-left: 1rem;
  }

  @media(max-width: 768px) {
    margin-left: 0;
    text-align: left;
  }
}

dt.index-label {
  text-align: right;

  @media(max-width: 600px) {
    text-align: left;
	}
}

dd {
  text-align: left;

  @media(max-width: 485px) {
    width: 75% !important;
  }
}

dl.blacklight-lc_call_number_display > dd,
dl.blacklight-lc_call_number_display > dt {
  background-color: $header-grey;
  width: 100%;
}

dl.blacklight-lc_call_number_display > dt {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

dl.blacklight-lc_call_number_display > dd {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


.page-links {
  @media(max-width: 485px) {
    padding-bottom: 0.5rem;
    text-align: center;
    width: 100%;
  }
}

/* === DATABASE RESULTS=== */
.database-browse-link {
  color: $black !important;
  text-decoration: underline;
}

dd.blacklight-format {
  padding-left: 0.4375rem !important;
}

/* === LIB GUIDES RECOMMENDER ===*/
.lib-guides-recommender-catalog-body {
  background-color: #dddddd;

  h2 {
    font-weight: 800;
    padding-left: 2.5rem;

    @media(max-width: 485px) {
      padding: 1rem !important;
      background-color: $red;
      color: $white !important;
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }
  }

  @media(max-width: 485px) {
    background-color: #ebebe9;
    padding: 0;
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;

    div {
      align-items: left;
      flex-direction: column;
      display: inline-flex;
    }
  }
}

.lib-guides-recommender-librarians,
.lib-guides-recommender-guides {
  background-color: #ebebe9;

  h3 {
    font-weight: 800;
  }

  @media(max-width: 485px) {
    padding: 1rem !important;
  }
}

.lib-guides-recommender-librarians {

  p {
    margin-bottom: 0.5rem;
  }

  @media(max-width: 485px) {
    margin-right: 0;
    border-bottom: 0.0625rem solid $red !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.lib-guides-recommender-guides {

  ul {
    padding-inline-start: 0px;
  }

  @media(max-width: 485px) {
    margin-left: 0;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
