.lib-guides-recommender-catalog-heading,
.lib-guides-recommender-bento-heading {
  font-family: "Roboto Condensed";
  font-weight: bold;
  height: 3.125rem;
  padding: 0.75rem 0;
}

.lib-guides-recommender-catalog-body,
.lib-guides-recommender-bento {

  a {
    text-decoration: underline;
  }
}

h2.lib-guides-recommender-bento-heading {
  font-size: 1.4rem;
}

h3.lib-guides-recommender-bento-heading {
  font-size: 1.2rem;
}
