.pagination  {
	li {
		a, a:active, a:hover, a:visited {
			color: #A50030;
		}
	}
	.active span {
		background-color: #A50030;
		border-color: #A50030;
	}
}
.btn-danger, .btn-danger:hover {
	background-color: #A50030;
	border-color: #A50030;
}