@import "_vars.scss";

/* PAGINATION */
.modal-only {
  display: none;
}

.modal-dialog .modal-only {
  display: block;
}

.modal-dialog #availability-container {
  border-bottom: 0.0625rem solid $lighter-grey;
  border-left: 0.0625rem solid $lighter-grey;

  .row {
    margin: 0;
  }
}

.pagination  {
	li {
		a, a:active, a:hover, a:visited {
			color: $cherry-red;
		}
	}
	.active span {
		background-color: $cherry-red;
		border-color: $cherry-red;
	}

  @media(max-width: 485px) {
    margin-right: 1.25rem;
    flex-wrap: wrap;
  }
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #686868;
}

nav .pagination {
  margin: 1.25rem auto;
}

.pagination li.page-item.active .page-link {
  background-color: $cherry-red;
  border-color: $cherry-red;
}

.pagination li.page-item a {
  white-space: nowrap;
}

.pagination-search-widgets {
	border-bottom: none !important;
  margin-bottom: 0 !important;
}
