@import "_vars.scss";

/* PAGINATION */
.modal-only {
  display: none;
}

.modal-dialog .modal-only {
  display: block;
}

.modal-dialog #availability-container {
  border-bottom: 0.0625rem solid $tan-border;
  border-left: 0.0625rem solid $tan-border;

  .row {
    margin: 0;
  }
}

.pagination  {
	li {
		a, a:active, a:hover, a:visited {
			color: $red;
		}
	}
	.active span {
		background-color: $red;
		border-color: $red;
	}

  @media(max-width: 485px) {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    flex-wrap: wrap;
  }
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #686868;
}

.search-widgets {
  @media(max-width: 485px) {
    float: none !important;
  }
}

.search-widgets button {
	@media(max-width: 320px) {
		padding: 0.375rem;
	}
}

nav .pagination {
  margin: 1.25rem auto;
}

.pagination li.page-item.active .page-link {
  background-color: $red;
  border-color: $red;
}

.pagination li.page-item a {
  white-space: nowrap;
}

div .page_links {
  padding: 0.625rem;
}
