/* === QUERY LIST RESULTS=== */

h2.query-lists {
  font-family: "Roboto Condensed";
	font-size: 1.4rem;
	padding: 0.25rem 0;
}

.query-list.card {
  flex: 1 0;
  height: 16rem;
  min-width: 12rem;
  max-width: 14.5rem;
  margin-right: 0.3125rem;
  }

  .query-card-footer {
    height: 3.4375rem;
  }

  @media(max-width: 600px) {
    max-width: 95%;
  }
}

h3.query-item-title {
	font-family: "PT Sans";
	font-size: 0.9375rem !important;
	font-weight: bold;

	a {
		text-decoration: underline;
	}
}

.query-card-body,
.query-card-footer {
  font-family: "PT Sans";
	font-size: 0.9375rem !important;

}

.query-format {
  margin-left: -0.4375rem;
}

.query-no-results {
	font-family: "PT Sans";
  font-size: 0.9375rem !important;
}
