/* === QUERY LIST RESULTS=== */

.query-feedback {
  font-weight: 600;
}

.secondary-query-header {
	font-size: 1.2rem;
}

.query-hr {
  margin-top: 0;
}

.query-list.card {
  flex: 1 0;
  height: 15rem;
  min-width: 11rem;
  max-width: 12rem;
  margin-right: 0.3125rem;

  @media(max-width: 768px) {
    max-width: 85%;
  }
}

.query-card-body, .query-card-footer {
  font-size: 0.875rem;

  .query-title, .query-item-availability {
    font-weight: bold; 
  }
}

.query-format {
  margin-left: -0.4375rem;
}

.tooltip-inner {
  background-color: $royal-blue;
  color: $white;
  max-width: 400px !important;

  @media(max-width: 500px) {
    max-width: 300px !important;
	}
}

.tooltip.show {
    opacity: 1 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $royal-blue;
  }

  .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $royal-blue;
  }

  .tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $royal-blue;
  }

  .tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: $royal-blue;
  }

.query-list-view-more {
  font-weight: bold;
  text-decoration: underline;
}
