/* === QUERY LIST RESULTS=== */

.query-feedback {
  font-weight: 600;
}

.secondary-query-header {
	font-size: 1.2rem;
}

.query-hr {
  margin-top: 0;
}

.query-list.card {
  flex: 1 0;
  height: 16.5rem;
  min-width: 11rem;
  max-width: 13rem;
  margin-right: 0.3125rem;

  @media(max-width: 768px) {
    max-width: 85%;
  }
}

.query-item-title {
  font-size: 1rem;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.query-item-format {
  margin-left: -0.4375rem;
  padding-right: 0.5rem;
}

.query-item-date {
  border-left: 1px solid;
  padding-left: 0.5rem;
}

.btn.query-list-online {
	background-color: $crystal-blue;
	color: $midnight-blue;
	font-family: "Faustina-Bold"; 
  margin-top: 0.125rem;
	padding: 0.125rem 0.625rem;
  margin-bottom: -0.5rem;
}

.tooltip-inner {
  background-color: $royal-blue;
  color: $white;
  max-width: 400px !important;

  @media(max-width: 500px) {
    max-width: 300px !important;
	}
}

.tooltip.show {
    opacity: 1 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $royal-blue;
  }

  .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $royal-blue;
  }

  .tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $royal-blue;
  }

  .tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: $royal-blue;
  }

.query-list-view-more {
  font-weight: bold;
  text-decoration: underline;
}
