/* === QUERY LIST RESULTS=== */

.query-feedback {
  font-weight: 600;
}

h3.secondary-query-header {
  font-family: "PT Sans";
	font-size: 1.2rem;
}

.query-hr {
  margin-top: 0;
}

.query-list.card {
  flex: 1 0;
  height: 15rem;
  min-width: 11rem;
  max-width: 12rem;
  margin-right: 0.3125rem;

  @media(max-width: 768px) {
    max-width: 85%;
  }
}

h4.query-item-title {
	font-family: "PT Sans";
	font-size: 0.9375rem !important;
	font-weight: bold;
}

.query-card-body,
.query-card-footer {
  font-family: "PT Sans";
	font-size: 0.9375rem !important;
}

.query-format {
  margin-left: -0.4375rem;
}

.query-no-results {
	font-family: "PT Sans";
  font-size: 0.9375rem !important;
}

.tooltip-inner {
  background-color: $royal-blue;
  color: $white;
  max-width: 400px !important;

  @media(max-width: 500px) {
    max-width: 300px !important;
	}
}

.tooltip.show {
    opacity: 1 !important;
}

.query-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  font-weight: bold;
  text-decoration: underline;
}
