/* === QUERY LIST RESULTS=== */

.query-heading {
  font-family: "PT Sans";
	font-size: 1.75rem;
	padding-left: 2.2rem;
}

h2.secondary-query-header {
  font-family: "PT Sans";
	font-size: 1.25rem;
  margin-left: -15px;
}

.query-hr {
  margin-left: -15px;
  margin-top: 0;
}

.question_mark-icon {
  position: relative;
}

.question_mark-icon:hover .speech {
  display: block;
  color: red;
}

.speech {

}

speech:before {

}

.speech:after {

}

.query-list.card {
  height: 16rem;
  min-width: 12rem;
  margin-right: 0.3125rem;
  flex: 0 1 14rem;

  .query-card-footer {
    height: 3.4375rem;
  }
}

h3.query-item-title {
	font-family: "PT Sans";
	font-size: 0.9375rem !important;
	font-weight: bold;

	a {
		text-decoration: underline;
	}
}

.query-card-body,
.query-card-footer {
  font-family: "PT Sans";
	font-size: 0.9375rem !important;

}

.query-format {
  margin-left: -0.4375rem;
}

.query-no-results {
	font-family: "PT Sans";
  font-size: 0.9375rem !important;
}
