/* === INDIVIDUAL RECORD PAGES === */
#record-page-container {
  @media(min-width: 600px) {
    padding: 0 100px;
  }
}

#record-page-content {
  background-color: $white;
  border-radius: 0.3125rem 0.3125rem 0 0;

  @media(max-width: 600px) {
    text-align: left;
 	}

  form.bookmark-toggle {
    float: none;
  }
}

.record-page-wrapper {
  padding: 1.25rem;
}

#record-page-content h1 {
  font-family: "PT Sans";
  font-size: 1.5rem;
  padding-left: 1.15rem;
  padding-top: 2rem;
}

.record-page-wrapper .thumbnail {

  @media(max-width: 600px) {
    padding-bottom: 1.25rem;
 	}
}

.btn-link:hover {
  color: $red;
  text-decoration: underline;
}

.show-page-list {
  @media(max-width: 768px) {
    padding-top: 1rem;
  }
}

.show-page-list .show-page-label {
  font-weight: 600;
}

.blacklight-url_more_links_display .online-card {
  padding: 0;
}

.list_items {
  list-style-type: none;
}

.secondary-fields-header h2, .query-heading h2 {
  font-family: "PT Sans";
  font-size: 1.4rem;
  margin-top: 2rem;

  hr {
    border-bottom: 0.0625rem solid $red;
  }
}

dd.blacklight-format {
  padding-left: 15px;
}

.field-hierarchy {
  text-decoration: underline;
}

a.search-subject:visited  {
  text-decoration: none
}
