@import "_vars.scss";

/* === REQUESTS === */
.requests-container {
  display: inline-block;
  margin-left: 0.625rem;
}

/* === REQUEST OPTIONS MODAL === */
.request-card {
  margin-bottom: 0.3125rem;
}

.request-options-header {
  padding-bottom: 0;
  padding-top: 1rem;

  h1 {
    font-family: "Roboto Condensed";
    font-size: 1.5rem;
  }
}

.request-heading {
  padding: 0.625rem;

  h2 {
    font-family: "Roboto Condensed";
    font-size: 1.5rem;
  }
}



.request-heading a {
  color: $black;
  font-size: 1.1rem;
  display: block;
  height: 100%;
  width: 100%;
}

.request-heading a:hover {
  color: $red;
  text-decoration: underline;
}

/* === REQUEST FORMS === */
.form-group label,
.col-form-label label {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

#ez-borrow-button:hover,
#ez-borrow-button:active,
#ez-borrow-button:visited {
  color: $white !important;
}

.request-form .form-control {
  margin-bottom: 1rem;
}

/* === REQUEST BUTTON === */
.request-button {
  font-size: 0.9375rem;
}

#ez-borrow-button {
  font-size: 1rem;
  font-weight: normal;
}
