@import "_vars.scss";

/* === REQUESTS === */
.requests-container {
  display: inline-block;
  margin-left: 0.625rem;
}

/* === REQUEST OPTIONS MODAL === */
.request-card {
  margin-bottom: 0.3125rem;
}

.request-options-header {
  padding-bottom: 0;
  padding-top: 1rem;

  h1 {
    font-family: "Roboto";
    font-size: 1.5rem;
  }
}

.request-heading {
  padding: 0.625rem;

  h2 {
    font-family: "Roboto";
    font-size: 1.5rem;
  }
}

.request-heading a {
  color: $midnight-blue;
  font-size: 1.1rem;
  display: block;
  height: 100%;
  width: 100%;
}

.request-heading a:hover {
  color: $cherry-red;
  text-decoration: underline;
}

/* === REQUEST FORMS === */
.form-group label,
.col-form-label label {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.request-form .form-control {
  margin-bottom: 1rem;
}

.hold-form {
  margin-left: -15px !important;
}

/* === REQUEST BUTTON === */
.search-results-request-btn, .record-page-request-btn {
  background-color: $crystal-blue;
  color: $midnight-blue;
}
//
// #ez-borrow-button {
//   font-size: 1rem;
//   font-weight: normal;
// }

// #ez-borrow-button:hover,
// #ez-borrow-button:active,
// #ez-borrow-button:visited {
//   color: $white !important;
// }
