@import "_vars.scss";

/* === REQUESTS === */
.requests-container {
  display: inline-block;
  margin-left: 0.625rem;
}

/* === REQUEST OPTIONS MODAL === */
.request-card {
  margin-bottom: 0.3125rem;
}

.request-options-header {
  font-family: "PT Sans";
  font-size: 2.0rem;
  padding-bottom: 0;
}

.request-heading {
  font-family: "PT Sans";
  padding-left: 0.625rem;
  padding-top: 0.3125rem;
}

.request-heading a {
  color: $black;
  font-size: 1.1rem;
}

.request-heading a:hover {
  color: $red;
  text-decoration: underline;
}

/* === REQUEST FORMS === */
.request-header {
  font-family: "PT Sans";
  font-size: 1.2rem;
}

.form-group label {
  font-weight: bold;
}
