#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 10;

  .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
  }

  .element-invisible.element-focusable:active,
  .element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
    width: auto;
    background-color: $white;
    outline: 2px solid $midnight-blue;
    outline-offset: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  }
}
