@import "_vars.scss";

/* === TEXT MESSAGE/EMAILS  === */
textarea#message-body.form-control {
  height: 6.25rem;
}

form#sms_form {
  font-size: small;
}

form#sms_form textarea#title {
  border: none;
  height: 4em;
  overflow: hidden;
  resize: none;
  width: 100%;
}

form#sms_form div.text-this-location label {
  font-weight: normal;
}

#locationsList {
    background-color: $white;
    border: solid #ccc 0.0625rem;
    font-size: 95%;
    line-height: 1.75em;
    margin: 0.4375rem;
    padding: 0.625rem;
    padding-left: 1.6875rem;
    width:85%;
	}
