/* === TYPOGRAPHY  === */

@font-face {
  font-family: 'Faustina';
  src: font-url('faustina.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Faustina-Bold;
  src: font-url('Faustina-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: font-url('roboto-condensed.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: font-url('Roboto-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: font-url('Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

.roboto {
  font-family: Roboto Condensed;
  font-display: swap;
}

.faustina {
  font-family: Faustina;
  font-display: swap;
}

.roboto-light {
  font-family: Roboto Light;
  font-display: swap;
}
