/* === TYPOGRAPHY  === */

@font-face {
  font-family: 'Faustina';
  src: font-url('faustina.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: font-url('roboto-condensed.woff2') format('woff2');
  font-display: swap;
}

.roboto {
  font-family: Roboto Condensed;
}

.faustina {
  font-family: Faustina;
}
