@import "_vars.scss";

/* === USERS === */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.glyphicon.glyphicon-exclamation-sign {
  color: $red;
}

h1.page-title {
  margin-top: 7px;
  margin-bottom: 21px;
}

#renewal-warning {
  background-color: $green;
  border: solid $red 1px;
  border-radius: 7px;
  color: $black;
  display: none;
  padding: 14px;
  width: 100%;
  text-align: center;
}

.renewal-disclaimer {
  bottom: 0;
  color: $med-grey;
  margin-right: 10%;
  position:absolute;
}

.container.user-account {
  background-color: $tan;
  border-radius: 14px;
  margin-bottom: 28px;
  padding: 21px 0;

  .btn-white {
    background-color: $white;
    border: solid #ccc 1px;
    color: $red;
  }
  div.user-info {
    .col-md-5 {
      font-size: 115%;
    }
    margin-bottom: 14px;
    padding-left: 1%;
    ul {
      list-style-type: none;
      li {
        line-height: 1.85;
        span {
          font-weight: 600;
        }
        .balance {
          color: $red;
          font-weight: normal;
        }
      }
    }
  }
  .container.user-loans, .container.user-fines, .container.user-holds {
    padding: 0;
    width: 100%;
    .user_section_title {
      background-color: $red;
      color: $white;
      margin-top: 0;
      padding:7px 14px;
    }
    ul {
      li {
        margin-bottom: 14px;
      }
    }
    table {
      caption {
        display: none;
      }
      tr.total-fines {
        background-color: #f5f5f5;
      }
      th {
        font-weight: 600;
        height: 21px;
        text-align: left;
      }
      th.renew {
        text-align: center;
      }
      td {
        text-align: left;
        padding: 10px;
      }
      td.overdue {
        color: $red;
      }
      td.submit {
        padding-top: 14px;
        padding-right: 8%;
        text-align: right;
      }
    }
    .table-hover > tbody > tr:hover {
      color: $red;
    }
  }
  .total-fines {
    color: $red;
    .fine-label {
      font-weight: 600;
      text-align: left;
    }
  }
  .hide-me {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position:absolute;
    top: auto;
    width: 1px;
  }
  td.renewal-check .form-check {
    text-align: center;
  }
  .renew-selected {
    float: right;
    font-size: 58%;
    padding-right: 7%;
    padding-top: 10px;
    vertical-align: middle;
  }
  .fines-link {
    padding: 14px;
    text-align: center;
  }
}

.col-md-6 {
  display: flex;
  flex-direction: column;
}

.user-email-notice {
  margin-top: -10px;
  margin-left: 25px;
}
