@import "_vars.scss";

/* === USERS === */
.my-account-heading {
  font-family: "Roboto Condensed";
  font-size: 2.0rem;
}

/* === USER INFO === */
.user-info-list {
  font-size: 1rem;
  list-style-type: none;
  padding-left: 0;
}

.user-info-label {
  font-weight: bold;
}

.user-email-notice {
  font-size: 1rem;
  padding-left: 0;
}

.quik-pay-btn {
  border: 1px solid $dark-grey;
  color: $cherry-red;
  font-size: 1rem;
  font-weight: bold;
}

/* === USER LOANS === */
.user_section_title {
  background-color: $cherry-red;
  color: $white;
  font-family: "Roboto Condensed";
  font-size: 1.5rem;
  margin: 0;
  padding: 0.625rem 0.875rem;
}

.container .user-loans,
.container .user-holds,
.container .user-fines {
  font-size: 1rem;
  padding: 0;
  width: 100%;
}

#renewals {
  margin-top: 0;
  padding-top: 0;
}

.renew-text {
  padding-left: 0;
  padding-right: 0.625rem;
}

#renew_selected {
  border-color: #777;
  color: $cherry-red;
  margin-top: 0.625rem;
}

/* === USER HOLDS === */
.user-table td {
  border-top: 0;
}

.user-holds-table thead {
  width: 100% !important;
}

.hold-number {
  width: 2%;
}

.hold-title {
  width: 59%;
}

.hold-until {
  width: 10%;
}

.hold-status {
  width: 10%;
}

/* === USER FINES === */
.table td.fine-label {
  font-weight: bold;
  padding-left: 0.9375rem;
}

#renewal-warning {
  background-color: $green;
  border: solid $cherry-red 0.0625rem;
  border-radius: 0.4375rem;
  color: $black;
  display: none;
  padding: 0.875rem;
  width: 100%;
  text-align: center;
}

.renewal-disclaimer {
  bottom: 0;
  color: $med-grey;
  margin-right: 10%;
  position:absolute;
}

.fines-number {
  width: 2%;
}

.fines-title {
  width: 75%;
}

.fines-fee-type {
  width: 15%;
}

.fines-amount {
  width: 10%;
}

.fee-info {
  font-size: 1rem;
}

/* === LOG IN MODAL === */
#login {

  color: $midnight-blue;
  text-align: center;

  h2 {
    font-family: "Roboto Light";
    font-size: 2.25rem;
    font-weight: 100;
  }
  h2::before {
    content: asset-url('person-black.png');
    position: relative;
    top: 10px;
    padding-right: 14px;
  }

  .login-options {
    border-top: solid #ccc 1px;
    margin-bottom: 21px;
    .info {
      font-size: 1.15rem;
    }
    a {
      display: block;
      text-align: left;
      width: 65%;
      margin: auto;
      color: $midnight-blue;
      background-color: $crystal-blue;
      padding: 14px 21px;
      margin-bottom: 21px;
      font-size: 1.05rem;
      .big {
        font-size: 1.35rem;
      }
    }
    a:hover {
      text-decoration: none;
      outline: solid $midnight-blue 1px;
    }
    a.guest-link {
      border: solid $grey 1px;
      background-color: $white;
      color: $midnight-blue;
    }
  }
}
