@import "_vars.scss";

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.glyphicon.glyphicon-exclamation-sign {
  color: $red;
}
h1.page-title {
  margin-top: 7px;
  margin-bottom: 21px;
}
#renewal-warning {
  display: none;
  width: 100%;
  text-align: center;
  background-color: $green;
  border: solid $red 1px;
  border-radius: 7px;
  padding: 14px;
  color: black;
}
.renewal-disclaimer {
  color: $med-grey;
  margin-right: 10%;
  position:absolute;
  bottom: 0;
}
.container.user-account {
  background-color: $tan;
  border-radius: 14px;
  margin-bottom: 28px;
  padding: 21px 0;

  .btn-white {
    background-color: $white;
    color: $red;
    border: solid #ccc 1px;
  }
  div.user-info {
    .col-md-5 {
      font-size: 115%;
    }
    margin-bottom: 14px;
    padding-left: 1%;
    ul {
      list-style-type: none;
      li {
        line-height: 1.85;
        span {
          font-weight: 600;
        }
        .balance {
          font-weight: normal;
          color: $red;
        }
      }
    }
  }
  .container.user-loans, .container.user-fines, .container.user-holds {
    width: 100%;
    padding: 0;
    .user_section_title {
      margin-top: 0;
      background-color: $red;
      padding:7px 14px;
      color: #fff;
    }
    ul {
      li {
        margin-bottom:14px;
      }
    }
    table {
      caption {
        display: none;
      }
      tr.total-fines {
        background-color: #f5f5f5;
      }
      th {
        text-align: left;
        font-weight: 600;
        height: 21px;
      }
      th.renew {
        text-align: center;
      }
      td {
        text-align: left;
        padding: 10px;
      }
      td.overdue {
        color: $red;
      }
      td.submit {
        text-align:right;
        padding-top: 14px;
        padding-right: 8%;
      }
    }
    .table-hover > tbody > tr:hover {
      color: $red;
    }
  }
  .total-fines {
    color: #A50030;
    .fine-label {
      text-align: left;
      font-weight: 600;
    }
  }
  .hide-me {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  td.renewal-check .form-check {
    text-align: center;
  }
  .renew-selected {
    float: right;
    font-size: 58%;
    vertical-align: middle;
    padding-right: 7%;
    padding-top: 10px;
  }
  .fines-link {
    text-align: center;
    padding: 14px;
  }
}
.col-md-6 {
  display: flex;
  flex-direction: column;
}
  
