/* === COLORS === */

$red: #A50030;
$aged-red: #951936;
$cinnamon: #f7d1d1;
$tan: #f2f0e7;
$black: #000;
$white: #fff;
$bento-header-text: #2B2E34;
$header-grey: #EBEBE9;
$facet-limit: #DDD;
$grey: #333;
$light-grey: #f4f6f7;
$med-grey: #444;
$dark-grey: #6c757d;
$med-blue: #337AB7;
$dark-blue: #2f287e;
$light-blue: #cbf6ff;
$crystal-blue: #D4E9F2;
$midnight-blue: #011238;
$tan-border: #CFC7AF;
$green: #3A833A;

$theme-colors: (
  "aged-red": #951936,
  "red": #A50030,
  "light-grey": #CCC,
  "background-grey": #F4F6F5,
  "website-grey": #EBEBE9,
  "teal": #2C9682,
  "header-grey": #EBEBE9,
  "white": #FFF,
  "tan": #f2f0e7,
  "tan-border": #CFC7AF,
  "bento-border": #B6B6B9,
  "dark-blue": #2f287e
);
