/* === COLORS === */

$black: #000;
$light-blue: #cbf6ff;
$crystal-blue: #D4E9F2;
$midnight-blue: #011238;
$royal-blue: #001E61;
$cinnamon: #f7d1d1;
$new-gold: #CCA969;
$green: #3A833A;
$grey: #333;
$light-grey: #ccc;
$lighter-grey: #F0F0F0;
$med-grey: #666;
$dark-grey: #444; 
$cherry-red: #A41E35;
$dark-cherry-red: #910C22;
$tan: #f1efe7; 
$white: #fff;
$pale-yellow: #F8EBD5;

$theme-colors: (
  "cherry-red": #A41E35,
  "light-grey": #ccc,
  "lighter-grey": #F0F0F0,
  "white": #fff,
  "royal-blue": #001E61
);
