/* === COLORS === */

$red: #A50030;
$aged-red: #951936;
$cinnamon: #f7d1d1;
$tan: #f2f0e7;
$black: #000;
$white: #fff;
$bento-header: #2B2E34;
$grey: #333;
$light-grey: #f4f6f7;
$med-grey: #444;
$dark-grey: #666;
$green: #E5FFE5;
$med-blue: #337AB7;
$dark-blue: #095780;
$light-blue: #b9e5fb;
$tan-border: #CFC7AF;
$green: #3A833A;

$theme-colors: (
  "aged-red": #951936,
  "red": #A50030,
  "light-grey": #CCC,
  "background-grey": #F4F6F5,
  "white": #FFF,
  "tan": #f2f0e7,
  "tan-border": #CFC7AF,
  "bento-border": #B6B6B9,
  "dark-blue": #095780
);
