<div id="getting-started">
  <p><%= t("databases.home_html") %></p>
  <p>
    <%= t("databases.home_question_html") %>
    <%= t("bento.zero_results.databases_html", href: link_to(t("bento.zero_results.databases_href"), t("bento.zero_results.databases_link"), target: "_blank")) %>
    <%= link_to(t("bento.zero_results.databases_two"), t("bento.zero_results.databases_two_link"), target: "_blank") %>
  </p>

</div>
