<h3 class="pt-3"><%= t("no_results.title", engine: "archival collections") %></h3>

<div class="noresults">
  <ul>
    <li>
      <%= t("bento.archival_collections_html", href: link_to(t("bento.archival_collections_href"), t("bento.archival_collections_link"), target: "_blank")) %>
    </li>
  </ul>
</div>