<h3 class="pt-2"><%= t("no_results.title", engine: "database") %></h3>
<hr />

<div class="p-1">
  <ul class="">
    <li>
      <%= t("bento.zero_results.databases_html", href: link_to(t("bento.zero_results.databases_href"), t("bento.zero_results.databases_link"), target: "_blank")) %>
      <%= link_to(t("bento.zero_results.databases_two"), t("bento.zero_results.databases_link"), target: "_blank") %>
    </li>
  </ul>
</div>
