<h3 class="pt-3"><%= t("no_results.title", engine: "database") %></h3>

<div class="noresults">
  <ul>
    <li>
      <%= t("bento.zero_results.databases_html", href: link_to(t("bento.zero_results.databases_href"), t("bento.zero_results.databases_link"), target: "_blank")) %>
    </li>
  </ul>
</div>
