
@import 'bootstrap';
@import 'blacklight/blacklight';
//@import 'blacklight_marc';

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.text-success {
  color: #28a745 !important;
}
