#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;

  .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
  }

  .element-invisible.element-focusable:active,
  .element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }

  a:focus {
    background-color: $white;
  }
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.text-success {
  color: #28a745 !important;
}
