// Users controller relate styles
//
.loan-list {
  width: 100%;
  div {
    .item_title {
      width: 400px;
    }
    .item_due_date {
      width: 180px;
    }
    .item_bar_code {
      width: 100px;
    }
    .item_action {
      width: 100px;
    }
    .item_renew_status {
      padding-left: 4px;
      width: 400px;
    }
  }
  .lone-item-header, .lone-item {
    div {
      display: inline-block;
    }
  }
  .lone-item-header {
    padding-bottom: 8px;
  }
}

