<ul class="d-flex list-unstyled list ml-auto align-items-center">
  <%= render_nav_actions do |config, action|%>
    <% unless action.blank? %>
      <li class="user-links"><%= action %></li>
    <% end %>
  <% end %>

  <li class="user-links">
    <% if has_user_authentication_provider? %>
      <%= render 'shared/nav_bar_login_links' unless login_disabled? %>
    <% end %>
  </li>
</ul>
