<ul class="nav navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <% unless action.blank? %>
      <li><%= action %></li>
    <% end %>
  <% end %>

  <% if has_user_authentication_provider? %>
    <%= render 'shared/nav_bar_login_links' unless login_disabled? %>
  <% end %>
</ul>
