<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
        <li><%= action %></li>
    <% end %>
  </ul>

  <% if has_user_authentication_provider? %>
      <ul class="nav navbar-nav">
      <%= render 'shared/nav_bar_login_links' unless login_disabled? %>

      </ul>
  <% end %>
</div>
