<%# we put our header material in a partial-with-yield (aka partial layout)
    to DRY it up -- and so we can use it with the ajax results too, so
    they still have this stuff !  See config.for_display.ajax.wrapper_template
%>

<div class="bento-search-engine">
<p>Total records from <%= bento_engine_nice_name(results.engine_id) %>: 
	<span><%= results.count || '?' %></span>
</p>
<%# our app chooses to use 'q' as the query param; the ajax loading controller uses 'query'
      This ordinarily is fine, but since we want this layout to work for both, we have to
      look for both, oh well.
%>

<div class="search-results">

<%= yield %>

</div>
</div>